openapi: 3.0.3
info:
  title: Gamebanana API (HAR-derived)
  version: 0.1.0
  description: 'Auto-generated from observed gamebanana.com traffic in two HAR captures.

    This is observational documentation and may be incomplete.

    '
servers:
- url: https://gamebanana.com
paths:
  /apiv11/Member/UiConfig:
    get:
      operationId: get_apiv11_member_uiconfig
      summary: Get ui config
      description: Returns data for Member / Ui Config.
      parameters:
      - in: query
        name: _sUrl
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/UiCounts:
    get:
      operationId: get_apiv11_member_uicounts
      summary: Get ui counts
      description: Returns data for Member / Ui Counts.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Homepage/Features:
    get:
      operationId: get_apiv11_util_homepage_features
      summary: Get features
      description: Returns data for Util / Homepage / Features.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Homepage/TopGames:
    get:
      operationId: get_apiv11_util_homepage_topgames
      summary: Get top games
      description: Returns data for Util / Homepage / Top Games.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Homepage/CommunitySpotlight:
    get:
      operationId: get_apiv11_util_homepage_communityspotlight
      summary: Get community spotlight
      description: Returns data for Util / Homepage / Community Spotlight.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Homepage/Submissions:
    get:
      operationId: get_apiv11_util_homepage_submissions
      summary: Get submissions
      description: Returns data for Util / Homepage / Submissions.
      parameters:
      - in: query
        name: _bFilterBySubscribedGames
        required: false
        schema:
          type: boolean
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/Authenticate:
    post:
      operationId: post_apiv11_member_authenticate
      summary: Create authenticate
      description: Creates or submits data for Member / Authenticate.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sGTMToken:
                  type: string
                _sPassword:
                  type: string
                _sUsername:
                  type: string
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Observed response status 400
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/ProfilePage:
    get:
      operationId: get_apiv11_game_id1_profilepage
      summary: Get profile page
      description: Returns data for Game / {id1} / Profile Page.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/TopSubs:
    get:
      operationId: get_apiv11_game_id1_topsubs
      summary: Get top subs
      description: Returns data for Game / {id1} / Top Subs.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/Subfeed:
    get:
      operationId: get_apiv11_game_id1_subfeed
      summary: Get subfeed
      description: Returns data for Game / {id1} / Subfeed.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sName
        required: false
        schema:
          type: string
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/CommunitySpotlight:
    get:
      operationId: get_apiv11_game_id1_communityspotlight
      summary: Get community spotlight
      description: Returns data for Game / {id1} / Community Spotlight.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/Navigator/Personal:
    get:
      operationId: get_apiv11_member_navigator_personal
      summary: Get personal
      description: Returns data for Member / Navigator / Personal.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/AvatarTooltip:
    get:
      operationId: get_apiv11_member_id1_avatartooltip
      summary: Get avatar tooltip
      description: Returns data for Member / {id1} / Avatar Tooltip.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/GetStartedPage:
    get:
      operationId: get_apiv11_game_id1_getstartedpage
      summary: Get get started page
      description: Returns data for Game / {id1} / Get Started Page.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/CategoryTree:
    get:
      operationId: get_apiv11_game_id1_categorytree
      summary: Get category tree
      description: Returns data for Game / {id1} / Category Tree.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/ModCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_modcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Mod Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/BlogCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_blogcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Blog Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/ContestCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_contestcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Contest Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/RequestCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_requestcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Request Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/ScriptCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_scriptcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Script Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/ConceptCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_conceptcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Concept Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/SoundCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_soundcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Sound Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Forum/NestedStructure:
    get:
      operationId: get_apiv11_util_forum_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Forum / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/EventCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_eventcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Event Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/JamCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_jamcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Jam Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/ToolCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_toolcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Tool Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/TutorialCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_tutorialcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Tutorial Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/NewsCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_newscategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / News Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/WipCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_wipcategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Wip Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/WareCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_warecategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Ware Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/QuestionCategory/NestedStructure:
    get:
      operationId: get_apiv11_util_questioncategory_nestedstructure
      summary: Get nested structure
      description: Returns data for Util / Question Category / Nested Structure.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Mod/Index:
    get:
      operationId: get_apiv11_mod_index
      summary: Get index
      description: Returns data for Mod / Index.
      parameters:
      - in: query
        name: _aFilters[Generic_Category]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _aFilters[Generic_Game]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _aFilters[Generic_Studio]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _aFilters[Generic_Submitter]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Mod/Categories:
    get:
      operationId: get_apiv11_mod_categories
      summary: Get categories
      description: Returns data for Mod / Categories.
      parameters:
      - in: query
        name: _bShowEmpty
        required: false
        schema:
          type: boolean
        description: Observed query parameter
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Mod/ListFilterConfig:
    get:
      operationId: get_apiv11_mod_listfilterconfig
      summary: Get list filter config
      description: Returns data for Mod / List Filter Config.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Wip/Index:
    get:
      operationId: get_apiv11_wip_index
      summary: Get index
      description: Returns data for Wip / Index.
      parameters:
      - in: query
        name: _aFilters[Generic_Game]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _aFilters[Generic_Studio]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _aFilters[Generic_Submitter]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '0':
          description: Observed response status 0
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Wip/Categories:
    get:
      operationId: get_apiv11_wip_categories
      summary: Get categories
      description: Returns data for Wip / Categories.
      parameters:
      - in: query
        name: _bShowEmpty
        required: false
        schema:
          type: boolean
        description: Observed query parameter
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Wip/ListFilterConfig:
    get:
      operationId: get_apiv11_wip_listfilterconfig
      summary: Get list filter config
      description: Returns data for Wip / List Filter Config.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/List/Featured:
    get:
      operationId: get_apiv11_util_list_featured
      summary: Get featured
      description: Returns data for Util / List / Featured.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _idMemberRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Generic/Discussions:
    get:
      operationId: get_apiv11_util_generic_discussions
      summary: Get discussions
      description: Returns data for Util / Generic / Discussions.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _idMemberRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sModelName
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '0':
          description: Observed response status 0
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/Rules:
    get:
      operationId: get_apiv11_game_id1_rules
      summary: Get rules
      description: Returns data for Game / {id1} / Rules.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Collection/Index:
    get:
      operationId: get_apiv11_collection_index
      summary: Get index
      description: Returns data for Collection / Index.
      parameters:
      - in: query
        name: _aFilters[Collection_Privacy]
        required: false
        schema:
          type: string
        description: Observed query parameter
      - in: query
        name: _aFilters[Generic_Game]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Collection/ListFilterConfig:
    get:
      operationId: get_apiv11_collection_listfilterconfig
      summary: Get list filter config
      description: Returns data for Collection / List Filter Config.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/Keys/Summary:
    get:
      operationId: get_apiv11_game_id1_keys_summary
      summary: Get summary
      description: Returns data for Game / {id1} / Keys / Summary.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/Keys/ForSale:
    get:
      operationId: get_apiv11_game_id1_keys_forsale
      summary: Get for sale
      description: Returns data for Game / {id1} / Keys / For Sale.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/Withhold:
    patch:
      operationId: patch_apiv11_game_id1_withhold
      summary: Update withhold
      description: Partially updates data for Game / {id1} / Withhold.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: info
        required: false
        schema:
          type: string
        description: Observed query parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '400':
          description: Observed response status 400
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id1}/Config:
    get:
      operationId: get_apiv11_game_id1_config
      summary: Get config
      description: Returns data for Game / {id1} / Config.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /members/submissions/bitpit/{id1}:
    get:
      operationId: get_members_submissions_bitpit_id1
      summary: Get bitpit
      description: Returns data for members / submissions / bitpit / {id1}.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: api
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Search/Suggestions:
    get:
      operationId: get_apiv11_util_search_suggestions
      summary: Get suggestions
      description: Returns data for Util / Search / Suggestions.
      parameters:
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sSearchString
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Search/Results:
    get:
      operationId: get_apiv11_util_search_results
      summary: Get results
      description: Returns data for Util / Search / Results.
      parameters:
      - in: query
        name: _csvFields
        required: false
        schema:
          type: string
        description: Observed query parameter
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sOrder
        required: false
        schema:
          type: string
        description: Observed query parameter
      - in: query
        name: _sSearchString
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '0':
          description: Observed response status 0
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/ProfilePage:
    get:
      operationId: get_apiv11_member_id1_profilepage
      summary: Get profile page
      description: Returns data for Member / {id1} / Profile Page.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/Config:
    get:
      operationId: get_apiv11_member_id1_config
      summary: Get config
      description: Returns data for Member / {id1} / Config.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/SubFeed:
    get:
      operationId: get_apiv11_member_id1_subfeed
      summary: Get sub feed
      description: Returns data for Member / {id1} / Sub Feed.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/Posts:
    get:
      operationId: get_apiv11_member_id1_posts
      summary: Get posts
      description: Returns data for Member / {id1} / Posts.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/Apps:
    get:
      operationId: get_apiv11_member_id1_apps
      summary: Get apps
      description: Returns data for Member / {id1} / Apps.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/BuddiesSummary:
    get:
      operationId: get_apiv11_member_id1_buddiessummary
      summary: Get buddies summary
      description: Returns data for Member / {id1} / Buddies Summary.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/Buddies:
    get:
      operationId: get_apiv11_member_id1_buddies
      summary: Get buddies
      description: Returns data for Member / {id1} / Buddies.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/IncomingBuddyRequests:
    get:
      operationId: get_apiv11_member_id1_incomingbuddyrequests
      summary: Get incoming buddy requests
      description: Returns data for Member / {id1} / Incoming Buddy Requests.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/Buddy/{id1}/Accept:
    patch:
      operationId: patch_apiv11_member_buddy_id1_accept
      summary: Update accept
      description: Partially updates data for Member / Buddy / {id1} / Accept.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/OutgoingBuddyRequests:
    get:
      operationId: get_apiv11_member_id1_outgoingbuddyrequests
      summary: Get outgoing buddy requests
      description: Returns data for Member / {id1} / Outgoing Buddy Requests.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/Submissions/Sublog:
    get:
      operationId: get_apiv11_member_id1_submissions_sublog
      summary: Get sublog
      description: Returns data for Member / {id1} / Submissions / Sublog.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sDirection
        required: false
        schema:
          type: string
        description: Observed query parameter
      - in: query
        name: _sNameOperator
        required: false
        schema:
          type: string
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Tool/Index:
    get:
      operationId: get_apiv11_tool_index
      summary: Get index
      description: Returns data for Tool / Index.
      parameters:
      - in: query
        name: _aFilters[Generic_Submitter]
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Tool/ListFilterConfig:
    get:
      operationId: get_apiv11_tool_listfilterconfig
      summary: Get list filter config
      description: Returns data for Tool / List Filter Config.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/SettingsPortal:
    get:
      operationId: get_apiv11_member_id1_settingsportal
      summary: Get settings portal
      description: Returns data for Member / {id1} / Settings Portal.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: info
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id1}/Admin/Tickets:
    get:
      operationId: get_apiv11_member_id1_admin_tickets
      summary: Get tickets
      description: Returns data for Member / {id1} / Admin / Tickets.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      responses:
        '400':
          description: Observed response status 400
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Support/ListFilterConfig:
    get:
      operationId: get_apiv11_support_listfilterconfig
      summary: Get list filter config
      description: Returns data for Support / List Filter Config.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/RecordInfo:
    get:
      operationId: get_apiv11_util_recordinfo
      summary: Get record info
      description: Returns data for Util / Record Info.
      parameters:
      - in: query
        name: s
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Mod/{id1}/ProfilePage:
    get:
      operationId: get_apiv11_mod_id1_profilepage
      summary: Get profile page
      description: Returns data for Mod / {id1} / Profile Page.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Mod/{id1}/Config:
    get:
      operationId: get_apiv11_mod_id1_config
      summary: Get config
      description: Returns data for Mod / {id1} / Config.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Mod/{id1}/Posts:
    get:
      operationId: get_apiv11_mod_id1_posts
      summary: Get posts
      description: Returns data for Mod / {id1} / Posts.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Path parameter observed in HAR
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Observed query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Observed query parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{model_name}/ListFilterConfig:
    get:
      operationId: get_apiv11_model_name_listfilterconfig
      summary: Search modificators
      description: This endpoint returns filters configuration for API Index.
      parameters:
      - in: path
        name: model_name
        required: true
        schema:
          type: string
        description: Required. Enter the model name.
      responses:
        '200':
          description: 200 Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Game/NameMatch:
    get:
      operationId: get_apiv11_util_game_namematch
      summary: Games by name
      description: This endpoint returns a list of games containing the search query
        in their names.
      parameters:
      - in: query
        name: _sName
        required: true
        schema:
          type: string
        description: 'Required. Enter the search query. Case insensitive. Allowed
          values: string of 3 characters or more.'
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Which ''page'' of results to get. Allowed values: greater than
          1. Default value: 1'
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: 'Number of results per page. Allowed values: 1 through 50. Default
          value: 10'
      responses:
        '200':
          description: 200 Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Generic/Tags:
    get:
      operationId: get_apiv11_util_generic_tags
      summary: Tags by text
      description: This endpoint returns a list of tags containing the search query
        in their names.
      parameters:
      - in: query
        name: _sTag
        required: true
        schema:
          type: string
        description: 'Required. Enter the search query. Case insensitive. Allowed
          values: string of 2 characters or more.'
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: Narrow down the search to a specific Game's ID.
      responses:
        '200':
          description: 200 Success - Request tags containing word 'time'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}/Subfeed:
    get:
      operationId: get_apiv11_game_id_subfeed
      summary: Latest (game)
      description: This endpoint returns a list of the latest submissions for the
        specified Game ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Enter the Game's ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Which ''page'' of results to get. Allowed values: greater than
          1. Default value: 1'
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: 'How to sort results. Allowed values: default, new, updated Default
          value: default'
      - in: query
        name: _sName
        required: false
        schema:
          type: string
        description: 'Enter the search query. Case insensitive. Allowed values: string
          of 3 characters or more.'
      - in: query
        name: _csvModelInclusions
        required: false
        schema:
          type: string
        description: 'Comma-separated list of sections to include in the search results.
          Allowed values: App, Article, Bug, Blog, Club, Contest, Concept, Event,
          Game, Idea, Initiative, Jam, Mod, Model, Member, News, Poll, Project, Question,
          Review, Request, Script, Sound, Spray, Studio, Thread, Tool, Tutorial, Wiki,
          Wip.'
      - in: query
        name: _csvModelExclusions
        required: false
        schema:
          type: string
        description: 'Comma-separated list of sections to exclude from the search
          results. Allowed values: App, Article, Bug, Blog, Club, Contest, Concept,
          Event, Game, Idea, Initiative, Jam, Mod, Model, Member, News, Poll, Project,
          Question, Review, Request, Script, Sound, Spray, Studio, Thread, Tool, Tutorial,
          Wiki, Wip.'
      - in: query
        name: _csvTagInclusions
        required: false
        schema:
          type: string
        description: 'Comma-separated list of tags to include in the search results.
          Allowed values: IDs as requested from Util/Generic/Tags endpoint.'
      - in: query
        name: _csvTagExclusions
        required: false
        schema:
          type: string
        description: 'Comma-separated list of tags to exclude from the search results.
          Allowed values: IDs as requested from Util/Generic/Tags endpoint.'
      responses:
        '200':
          description: 200 - All defaults
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: 400 - Invalid value for both _csvModelInclusions and _csvModelExclusions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{model_name}/Index:
    get:
      operationId: get_apiv11_model_name_index
      summary: Latest (section)
      description: This endpoint returns a list of records matching the given criteria.
      parameters:
      - in: path
        name: model_name
        required: true
        schema:
          type: string
        description: Required. Enter the model name.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Which ''page'' of results to get. Allowed values: greater than
          1. Default value: 1'
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: 'Number of results per page. Allowed values: 1 through 50. Default
          value: 20'
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: 'How to sort results. Allowed values: see _aSorts in ListFilterConfig'
      - in: query
        name: _aFilters[Generic_WasFeatured]
        required: false
        schema:
          type: string
        description: 'If provided, display only featured records. See other filters
          in ListFilterConfig Allowed values: true'
      responses:
        '200':
          description: 200 Success - Latest Mods in section Mod
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/SubFeed:
    get:
      operationId: get_apiv11_member_id_subfeed
      summary: Latest (member)
      description: This endpoint returns a list of latest submissions of Member ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Enter the Member's ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Which ''page'' of results to get. Allowed values: greater than
          1. Default value: 1'
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: 'Number of results per page. Allowed values: 1 through 50. Default
          value: 20'
      responses:
        '200':
          description: 200 Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}/TopSubs:
    get:
      operationId: get_apiv11_game_id_topsubs
      summary: Top (game)
      description: 'This endpoint returns top submissions displayed on the game''s
        homepage. Available periods: - day - week - month - 3 months - 6 months -
        year - all time'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Enter the Game's ID.
      responses:
        '200':
          description: 200 Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/ListFilterConfig:
    get:
      operationId: get_apiv11_game_listfilterconfig
      summary: Sort options and filters
      description: This endpoint returns a set of available sort options and filters.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/Index:
    get:
      operationId: get_apiv11_game_index
      summary: By sort options and filters
      description: This endpoint returns a list of Games. To sort results provide
        a value for _sSort To filter results provide a value for _aFilters\[FILTER_NAME\]
      parameters:
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: 'Integer. Records per page. Allowed values: >1 Default value:
          5'
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: 'oneOf. String. How to sort the records. Allowed values: see
          ''Sort options and filters'' Default value: -'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}/CommunitySpotlight:
    get:
      operationId: get_apiv11_game_id_communityspotlight
      summary: Community Spotlight
      description: This endpoint returns a set of submissions, studios and clubs that
        have gained popularity recently for the specified Game ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Integer. Game ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}/ProfilePage:
    get:
      operationId: get_apiv11_game_id_profilepage
      summary: Multiple Properties (1)
      description: This endpoint returns multiple properties for the specified Game
        ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Integer. Game ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}:
    get:
      operationId: get_apiv11_game_id
      summary: Multiple Properties (2)
      description: This endpoint returns multiple properties for the specified Game
        ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Integer. Game ID.
      - in: query
        name: _csvProperties
        required: false
        schema:
          type: string
        description: 'String. Comma-separated list of properties to request. Allowed
          values: see response body. Default value: -'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}/GetStartedPage:
    get:
      operationId: get_apiv11_game_id_getstartedpage
      summary: Detailed information
      description: This endpoint returns detailed information for the specified Game
        ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Integer. Game ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Game/{id}/Rules:
    get:
      operationId: get_apiv11_game_id_rules
      summary: Additional rules
      description: This endpoint returns a list of additional rules for the specified
        Game ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Integer. Game ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{sectionSlug}/Categories:
    get:
      operationId: get_apiv11_sectionslug_categories
      summary: Multiple RootCategories
      description: Returns a list of the root categories by Section Slug.
      parameters:
      - in: path
        name: sectionSlug
        required: true
        schema:
          type: string
        description: Required. Section slug.
      - in: query
        name: _sSort
        required: true
        schema:
          type: string
        description: 'Required. String. How to sort the results. Allowed values: a_to_z,
          count Default value: -'
      - in: query
        name: _bShowEmpty
        required: false
        schema:
          type: boolean
        description: 'Boolean. If provided, include empty categories. Allowed values:
          true, false Default value: -'
      - in: query
        name: _idGameRow
        required: false
        schema:
          type: integer
        description: '[oneOf] Integer. Categories for the specific Game.'
      - in: query
        name: _idCategoryRow
        required: false
        schema:
          type: integer
        description: '[oneOf] Integer. Categories for the specific Category.'
      responses:
        '200':
          description: 200 OK - Root categories for section Mod for CS 1.6
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/ModCategory/{rootCategoryId}/SubCategories:
    get:
      operationId: get_apiv11_modcategory_rootcategoryid_subcategories
      summary: Multiple SubCategories
      description: Returns a list of the sub categories by Root Category ID.
      parameters:
      - in: path
        name: rootCategoryId
        required: true
        schema:
          type: integer
        description: Required. Root category ID.
      responses:
        '200':
          description: 200 OK - SubCategories for category GUIs for CS 1.6
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/AwardedBounties:
    get:
      operationId: get_apiv11_member_id_awardedbounties
      summary: Awarded Bounties
      description: Returns a list of submissions the specified Member ID has been
        awarded bounties for.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/ContributedBounties:
    get:
      operationId: get_apiv11_member_id_contributedbounties
      summary: Contributed Bounties
      description: Returns a list of submissions the specified Member ID has contributed
        bounties for.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/LikedSubmissions:
    get:
      operationId: get_apiv11_member_id_likedsubmissions
      summary: Liked Submissions
      description: Returns a list of submissions liked by a specified Member ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/Medals:
    get:
      operationId: get_apiv11_member_id_medals
      summary: Medals
      description: Returns a list of medals for a specified Member ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/ParticipatedContests:
    get:
      operationId: get_apiv11_member_id_participatedcontests
      summary: Participated Contests
      description: Returns a list of contests the specified Member ID has participated
        in.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/RatedIdeas:
    get:
      operationId: get_apiv11_member_id_ratedideas
      summary: Rated Ideas
      description: Returns a list of ideas the specified Member ID has rated.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/SolvedQuestions:
    get:
      operationId: get_apiv11_member_id_solvedquestions
      summary: Solved Questions
      description: Returns a list of questions solved by the specified Member ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/ThankedSubmissions:
    get:
      operationId: get_apiv11_member_id_thankedsubmissions
      summary: Thanked Submissions
      description: Returns a list of submissions the specified Member ID has thanked.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/VotedPolls:
    get:
      operationId: get_apiv11_member_id_votedpolls
      summary: Voted Polls
      description: Returns a list of polls the specified Member ID has voted in.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/Submissions/Contributions:
    get:
      operationId: get_apiv11_member_id_submissions_contributions
      summary: Contributions
      description: Returns a list of submissions where the specified Member ID has
        been listed in the credits.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/{id}/Submissions/Posts:
    get:
      operationId: get_apiv11_member_id_submissions_posts
      summary: Latest Posts
      description: Returns a list of posts made by a specified Member ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Required. Member ID.
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: 'Integer. Page to get. Allowed values: >1 Default value: 1'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Member/EmailAuthenticate:
    post:
      operationId: post_apiv11_member_emailauthenticate
      summary: 1. Request confirmation code
      description: Creates or submits data for Member / Email Authenticate.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sEmail:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Util/Config/TrashReasons:
    get:
      operationId: get_apiv11_util_config_trashreasons
      summary: Trash reasons
      description: Returns data for Util / Config / Trash Reasons.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}:
    get:
      operationId: get_apiv11_section_slug_submission_id
      summary: Multiple Properties (Option 1)
      description: Returns data for {section_slug} / {submission_id}.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      - in: query
        name: _csvProperties
        required: false
        schema:
          type: string
        description: Query parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/ProfilePage:
    get:
      operationId: get_apiv11_section_slug_submission_id_profilepage
      summary: Multiple Properties (Option 2)
      description: Returns data for {section_slug} / {submission_id} / Profile Page.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/DownloadPage:
    get:
      operationId: get_apiv11_section_slug_submission_id_downloadpage
      summary: Files list (Option 2)
      description: Returns data for {section_slug} / {submission_id} / Download Page.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/File/{file_id}:
    get:
      operationId: get_apiv11_file_file_id
      summary: File contents
      description: Returns data for File / {file_id}.
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Collections:
    get:
      operationId: get_apiv11_section_slug_submission_id_collections
      summary: Collections added to
      description: Returns data for {section_slug} / {submission_id} / Collections.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Query parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/AccessorCollections:
    get:
      operationId: get_apiv11_section_slug_submission_id_accessorcollections
      summary: Accessor collections
      description: Returns data for {section_slug} / {submission_id} / Accessor Collections.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Collection/Add:
    post:
      operationId: post_apiv11_collection_add
      summary: '[Auth] Create a Collection'
      description: Creates or submits data for Collection / Add.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sName:
                  type: string
                _bIsPrivate:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/AddToCollection:
    post:
      operationId: post_apiv11_section_slug_submission_id_addtocollection
      summary: '[Auth] Add to Collection'
      description: Creates or submits data for {section_slug} / {submission_id} /
        Add To Collection.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _idCollectionRow:
                  type: integer
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/RemoveFromCollection:
    delete:
      operationId: delete_apiv11_section_slug_submission_id_removefromcollection
      summary: '[Auth] Remove from Collection'
      description: Removes or trashes data for {section_slug} / {submission_id} /
        Remove From Collection.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/EmbeddablesPage:
    get:
      operationId: get_apiv11_section_slug_submission_id_embeddablespage
      summary: Embeds list
      description: Returns data for {section_slug} / {submission_id} / Embeddables
        Page.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Issues:
    get:
      operationId: get_apiv11_section_slug_submission_id_issues
      summary: Issues list
      description: Returns data for {section_slug} / {submission_id} / Issues.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Query parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Issue/Add:
    post:
      operationId: post_apiv11_section_slug_submission_id_issue_add
      summary: '[Auth] Add an Issue'
      description: Creates or submits data for {section_slug} / {submission_id} /
        Issue / Add.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sState:
                  type: string
                _sText:
                  type: string
                _bIsSticky:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Issue/{issue_id}:
    patch:
      operationId: patch_apiv11_issue_issue_id
      summary: '[Auth] Edit an Issue'
      description: Partially updates data for Issue / {issue_id}.
      parameters:
      - in: path
        name: issue_id
        required: true
        schema:
          type: integer
        description: Path parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sState:
                  type: string
                _sText:
                  type: string
                _bIsSticky:
                  type: boolean
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
    delete:
      operationId: delete_apiv11_issue_issue_id
      summary: '[Auth] Trash an Issue'
      description: Removes or trashes data for Issue / {issue_id}.
      parameters:
      - in: path
        name: issue_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Likes:
    get:
      operationId: get_apiv11_section_slug_submission_id_likes
      summary: Users who liked
      description: Returns data for {section_slug} / {submission_id} / Likes.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Query parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Like:
    post:
      operationId: post_apiv11_section_slug_submission_id_like
      summary: '[Auth] Like'
      description: Creates or submits data for {section_slug} / {submission_id} /
        Like.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
    delete:
      operationId: delete_apiv11_section_slug_submission_id_like
      summary: '[Auth] Unlike'
      description: Removes or trashes data for {section_slug} / {submission_id} /
        Like.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Post/{post_id}/ProfilePage:
    get:
      operationId: get_apiv11_post_post_id_profilepage
      summary: Post / Reply properties
      description: Returns data for Post / {post_id} / Profile Page.
      parameters:
      - in: path
        name: post_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Posts:
    get:
      operationId: get_apiv11_section_slug_submission_id_posts
      summary: Posts feed
      description: Returns data for {section_slug} / {submission_id} / Posts.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Query parameter
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Query parameter
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Query parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/{section_slug}/{submission_id}/Post/Add:
    post:
      operationId: post_apiv11_section_slug_submission_id_post_add
      summary: '[Auth] Add a Post'
      description: Creates or submits data for {section_slug} / {submission_id} /
        Post / Add.
      parameters:
      - in: path
        name: section_slug
        required: true
        schema:
          type: string
        description: Path parameter
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Path parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sText:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Post/{post_id}:
    post:
      operationId: post_apiv11_post_post_id
      summary: '[Auth] Add a Reply'
      description: Creates or submits data for Post / {post_id}.
      parameters:
      - in: path
        name: post_id
        required: true
        schema:
          type: integer
        description: Path parameter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _sText:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
    delete:
      operationId: delete_apiv11_post_post_id
      summary: '[Auth] Trash a Post / Reply'
      description: Removes or trashes data for Post / {post_id}.
      parameters:
      - in: path
        name: post_id
        required: true
        schema:
          type: integer
        description: Path parameter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-doc-last-reviewed: '2026-04-19T16:24:43+00:00'
  /apiv11/Post/{post_id}/Untrash:
    patch:
      operationId: patch_apiv11_post_post_id_untrash
      summary: '[Auth] Untrash a Post / Reply'
      description: Partially updates data for Post / {post_id} / Untrash.
      parameters:
      - in: path
        name: post_id
        required: true
        schema:
          type: integer
[...]
