openapi: 3.0.3
info:
  title: GameBanana APIs (Unofficial Documentation)
  version: 0.1.0
  description: Curated, version-first GameBanana API reference. Browse tags by version
    (v12 to v3), then by domain. Endpoints are retained only when probe evidence indicates
    meaningful reachability; uncertainty is marked with x-curation-note.
servers:
- url: https://gamebanana.com
  description: GameBanana main host
- url: https://api.gamebanana.com
  description: GameBanana API host
- url: https://dev.gamebanana.com
  description: GameBanana development host
- url: https://api.dev.gamebanana.com
  description: GameBanana development API host
tags:
- name: 'v12: App'
- name: 'v12: Article'
- name: 'v12: ArticleCategory'
- name: 'v12: Bitpit'
- name: 'v12: Blog'
- name: 'v12: BlogCategory'
- name: 'v12: Bug'
- name: 'v12: Club'
- name: 'v12: Collection'
- name: 'v12: Concept'
- name: 'v12: ConceptCategory'
- name: 'v12: Contest'
- name: 'v12: ContestCategory'
- name: 'v12: Event'
- name: 'v12: EventCategory'
- name: 'v12: File'
- name: 'v12: Forum'
- name: 'v12: Game'
- name: 'v12: GameKey'
- name: 'v12: Generator'
- name: 'v12: GeneratorCategory'
- name: 'v12: GmApplication'
- name: 'v12: Idea'
- name: 'v12: Initiative'
- name: 'v12: Issue'
- name: 'v12: ItemType'
- name: 'v12: Jam'
- name: 'v12: JamCategory'
- name: 'v12: Medal'
- name: 'v12: Member'
- name: 'v12: Mod'
- name: 'v12: ModCategory'
- name: 'v12: Model'
- name: 'v12: ModelCategory'
- name: 'v12: Mods'
- name: 'v12: News'
- name: 'v12: NewsCategory'
- name: 'v12: Permit'
- name: 'v12: Poll'
- name: 'v12: PollCategory'
- name: 'v12: PositionAvailable'
- name: 'v12: Post'
- name: 'v12: Project'
- name: 'v12: ProjectCategory'
- name: 'v12: Question'
- name: 'v12: QuestionCategory'
- name: 'v12: RemoteDL'
- name: 'v12: RemoteInstall'
- name: 'v12: Request'
- name: 'v12: RequestCategory'
- name: 'v12: Review'
- name: 'v12: Ripe'
- name: 'v12: Script'
- name: 'v12: ScriptCategory'
- name: 'v12: Sound'
- name: 'v12: SoundCategory'
- name: 'v12: Spray'
- name: 'v12: SprayCategory'
- name: 'v12: StatusUpdate'
- name: 'v12: Studio'
- name: 'v12: Subscription'
- name: 'v12: Support'
- name: 'v12: Thread'
- name: 'v12: Todo'
- name: 'v12: Tool'
- name: 'v12: ToolCategory'
- name: 'v12: Tutorial'
- name: 'v12: TutorialCategory'
- name: 'v12: Update'
- name: 'v12: Util'
- name: 'v12: Ware'
- name: 'v12: WareCategory'
- name: 'v12: WareOrder'
- name: 'v12: Wiki'
- name: 'v12: WikiCategory'
- name: 'v12: Wip'
- name: 'v12: WipCategory'
- name: 'v11: App'
- name: 'v11: Collection'
- name: 'v11: Contest'
- name: 'v11: File'
- name: 'v11: Game'
- name: 'v11: Idea'
- name: 'v11: Jam'
- name: 'v11: Member'
- name: 'v11: Mod'
- name: 'v11: ModCategory'
- name: 'v11: Mods'
- name: 'v11: Poll'
- name: 'v11: Post'
- name: 'v11: RemoteInstall'
- name: 'v11: Request'
- name: 'v11: Ripe'
- name: 'v11: Support'
- name: 'v11: Tool'
- name: 'v11: Util'
- name: 'v11: Wip'
- name: 'v11: {model_name}'
- name: 'v11: {section_slug}'
- name: 'v8: Mod'
- name: 'v8: Util'
- name: 'v7: Mod'
- name: 'v6: Gamefile'
- name: 'v6: Mod'
- name: 'v5: Mod'
- name: 'v4: Mod'
- name: 'v3: Mod'
- name: 'v3: ModCategory'
- name: 'v3: Tool'
paths:
  /apiv12/App/1/ProfilePage:
    get:
      operationId: v12_app_1_profile_page_get
      summary: Get App 1 Profile Page
      description: Returns App 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/App/Index:
    get:
      operationId: v12_app_index_get
      summary: Get App Index
      description: Returns App Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/Index
        contentType: application/json; charset=UTF-8
  /apiv12/App/ListFilterConfig:
    get:
      operationId: v12_app_list_filter_config_get
      summary: Get App List Filter Config
      description: Returns App List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/App/Search:
    get:
      operationId: v12_app_search_get
      summary: Get App Search
      description: Returns App Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/App/{submission_id}/Users:
    get:
      operationId: v12_app_submission_id_users_get
      summary: Get App {submission Id} Users
      description: Returns App {submission Id} Users data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/1/Users
        contentType: application/json; charset=UTF-8
  /apiv12/Article/1/ProfilePage:
    get:
      operationId: v12_article_1_profile_page_get
      summary: Get Article 1 Profile Page
      description: Returns Article 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Article/Index:
    get:
      operationId: v12_article_index_get
      summary: Get Article Index
      description: Returns Article Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Article/ListFilterConfig:
    get:
      operationId: v12_article_list_filter_config_get
      summary: Get Article List Filter Config
      description: Returns Article List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Article/Search:
    get:
      operationId: v12_article_search_get
      summary: Get Article Search
      description: Returns Article Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ArticleCategory/1/ProfilePage:
    get:
      operationId: v12_articlecategory_1_profile_page_get
      summary: Get ArticleCategory 1 Profile Page
      description: Returns ArticleCategory 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ArticleCategory/Index:
    get:
      operationId: v12_articlecategory_index_get
      summary: Get ArticleCategory Index
      description: Returns ArticleCategory Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ArticleCategory/ListFilterConfig:
    get:
      operationId: v12_articlecategory_list_filter_config_get
      summary: Get ArticleCategory List Filter Config
      description: Returns ArticleCategory List Filter Config data for public API
        consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ArticleCategory/Search:
    get:
      operationId: v12_articlecategory_search_get
      summary: Get ArticleCategory Search
      description: Returns ArticleCategory Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Bitpit/1/ProfilePage:
    get:
      operationId: v12_bitpit_1_profile_page_get
      summary: Get Bitpit 1 Profile Page
      description: Returns Bitpit 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Bitpit'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bitpit/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Bitpit/Index:
    get:
      operationId: v12_bitpit_index_get
      summary: Get Bitpit Index
      description: Returns Bitpit Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Bitpit'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bitpit/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Bitpit/ListFilterConfig:
    get:
      operationId: v12_bitpit_list_filter_config_get
      summary: Get Bitpit List Filter Config
      description: Returns Bitpit List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Bitpit'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bitpit/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Blog/1/ProfilePage:
    get:
      operationId: v12_blog_1_profile_page_get
      summary: Get Blog 1 Profile Page
      description: Returns Blog 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Blog/Index:
    get:
      operationId: v12_blog_index_get
      summary: Get Blog Index
      description: Returns Blog Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Blog/ListFilterConfig:
    get:
      operationId: v12_blog_list_filter_config_get
      summary: Get Blog List Filter Config
      description: Returns Blog List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Blog/Search:
    get:
      operationId: v12_blog_search_get
      summary: Get Blog Search
      description: Returns Blog Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/BlogCategory/1/ProfilePage:
    get:
      operationId: v12_blogcategory_1_profile_page_get
      summary: Get BlogCategory 1 Profile Page
      description: Returns BlogCategory 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: BlogCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/BlogCategory/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/BlogCategory/Index:
    get:
      operationId: v12_blogcategory_index_get
      summary: Get BlogCategory Index
      description: Returns BlogCategory Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: BlogCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/BlogCategory/Index
        contentType: application/json; charset=UTF-8
  /apiv12/BlogCategory/ListFilterConfig:
    get:
      operationId: v12_blogcategory_list_filter_config_get
      summary: Get BlogCategory List Filter Config
      description: Returns BlogCategory List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: BlogCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/BlogCategory/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Bug/1/ProfilePage:
    get:
      operationId: v12_bug_1_profile_page_get
      summary: Get Bug 1 Profile Page
      description: Returns Bug 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Bug'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bug/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Bug/Index:
    get:
      operationId: v12_bug_index_get
      summary: Get Bug Index
      description: Returns Bug Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Bug'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bug/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Bug/ListFilterConfig:
    get:
      operationId: v12_bug_list_filter_config_get
      summary: Get Bug List Filter Config
      description: Returns Bug List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Bug'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bug/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Club/1/ProfilePage:
    get:
      operationId: v12_club_1_profile_page_get
      summary: Get Club 1 Profile Page
      description: Returns Club 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Club'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Club/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Club/Index:
    get:
      operationId: v12_club_index_get
      summary: Get Club Index
      description: Returns Club Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Club'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Club/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Club/ListFilterConfig:
    get:
      operationId: v12_club_list_filter_config_get
      summary: Get Club List Filter Config
      description: Returns Club List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Club'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Club/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Club/Search:
    get:
      operationId: v12_club_search_get
      summary: Get Club Search
      description: Returns Club Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Club'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Club/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Collection/1/ProfilePage:
    get:
      operationId: v12_collection_1_profile_page_get
      summary: Get Collection 1 Profile Page
      description: Returns Collection 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Collection/Index:
    get:
      operationId: v12_collection_index_get
      summary: Get Collection Index
      description: Returns Collection Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Collection/ListFilterConfig:
    get:
      operationId: v12_collection_list_filter_config_get
      summary: Get Collection List Filter Config
      description: Returns Collection List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Collection/Search:
    get:
      operationId: v12_collection_search_get
      summary: Get Collection Search
      description: Returns Collection Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Collection/{id}/Config:
    get:
      operationId: v12_collection_id_config_get
      summary: Get Collection {id} Config
      description: Returns Collection {id} Config data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/1/Config
        contentType: application/json; charset=UTF-8
  /apiv12/Collection/{id}/ProfilePage:
    get:
      operationId: v12_collection_id_profile_page_get
      summary: Get Collection {id} Profile Page
      description: Returns Collection {id} Profile Page data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Collection/{submission_id}/Items:
    get:
      operationId: v12_collection_submission_id_items_get
      summary: Get Collection {submission Id} Items
      description: Returns Collection {submission Id} Items data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Collection'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Collection/1/Items
        contentType: application/json; charset=UTF-8
  /apiv12/Concept/1/ProfilePage:
    get:
      operationId: v12_concept_1_profile_page_get
      summary: Get Concept 1 Profile Page
      description: Returns Concept 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Concept'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Concept/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Concept/Index:
    get:
      operationId: v12_concept_index_get
      summary: Get Concept Index
      description: Returns Concept Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Concept'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Concept/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Concept/ListFilterConfig:
    get:
      operationId: v12_concept_list_filter_config_get
      summary: Get Concept List Filter Config
      description: Returns Concept List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Concept'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Concept/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ConceptCategory/1/ProfilePage:
    get:
      operationId: v12_conceptcategory_1_profile_page_get
      summary: Get ConceptCategory 1 Profile Page
      description: Returns ConceptCategory 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ConceptCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ConceptCategory/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ConceptCategory/Index:
    get:
      operationId: v12_conceptcategory_index_get
      summary: Get ConceptCategory Index
      description: Returns ConceptCategory Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ConceptCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ConceptCategory/Index
        contentType: application/json; charset=UTF-8
  /apiv12/ConceptCategory/ListFilterConfig:
    get:
      operationId: v12_conceptcategory_list_filter_config_get
      summary: Get ConceptCategory List Filter Config
      description: Returns ConceptCategory List Filter Config data for public API
        consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ConceptCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ConceptCategory/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Contest/1/ProfilePage:
    get:
      operationId: v12_contest_1_profile_page_get
      summary: Get Contest 1 Profile Page
      description: Returns Contest 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Contest/Index:
    get:
      operationId: v12_contest_index_get
      summary: Get Contest Index
      description: Returns Contest Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Contest/ListFilterConfig:
    get:
      operationId: v12_contest_list_filter_config_get
      summary: Get Contest List Filter Config
      description: Returns Contest List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Contest/Search:
    get:
      operationId: v12_contest_search_get
      summary: Get Contest Search
      description: Returns Contest Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Contest/{id}/Config:
    get:
      operationId: v12_contest_id_config_get
      summary: Get Contest {id} Config
      description: Returns Contest {id} Config data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/1/Config
        contentType: application/json; charset=UTF-8
  /apiv12/Contest/{id}/ProfilePage:
    get:
      operationId: v12_contest_id_profile_page_get
      summary: Get Contest {id} Profile Page
      description: Returns Contest {id} Profile Page data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Contest/{submission_id}/Winners:
    get:
      operationId: v12_contest_submission_id_winners_get
      summary: Get Contest {submission Id} Winners
      description: Returns Contest {submission Id} Winners data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Contest'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Contest/1/Winners
        contentType: application/json; charset=UTF-8
  /apiv12/ContestCategory/1/ProfilePage:
    get:
      operationId: v12_contestcategory_1_profile_page_get
      summary: Get ContestCategory 1 Profile Page
      description: Returns ContestCategory 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ContestCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ContestCategory/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ContestCategory/Index:
    get:
      operationId: v12_contestcategory_index_get
      summary: Get ContestCategory Index
      description: Returns ContestCategory Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ContestCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ContestCategory/Index
        contentType: application/json; charset=UTF-8
  /apiv12/ContestCategory/ListFilterConfig:
    get:
      operationId: v12_contestcategory_list_filter_config_get
      summary: Get ContestCategory List Filter Config
      description: Returns ContestCategory List Filter Config data for public API
        consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ContestCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ContestCategory/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/ContestCategory/Search:
    get:
      operationId: v12_contestcategory_search_get
      summary: Get ContestCategory Search
      description: Returns ContestCategory Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ContestCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ContestCategory/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Event/1/ProfilePage:
    get:
      operationId: v12_event_1_profile_page_get
      summary: Get Event 1 Profile Page
      description: Returns Event 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Event'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Event/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Event/Index:
    get:
      operationId: v12_event_index_get
      summary: Get Event Index
      description: Returns Event Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Event'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Event/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Event/ListFilterConfig:
    get:
      operationId: v12_event_list_filter_config_get
      summary: Get Event List Filter Config
      description: Returns Event List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Event'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Event/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Event/Search:
    get:
      operationId: v12_event_search_get
      summary: Get Event Search
      description: Returns Event Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Event'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Event/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/EventCategory/1/ProfilePage:
    get:
      operationId: v12_eventcategory_1_profile_page_get
      summary: Get EventCategory 1 Profile Page
      description: Returns EventCategory 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: EventCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/EventCategory/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/EventCategory/Index:
    get:
      operationId: v12_eventcategory_index_get
      summary: Get EventCategory Index
      description: Returns EventCategory Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: EventCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/EventCategory/Index
        contentType: application/json; charset=UTF-8
  /apiv12/EventCategory/ListFilterConfig:
    get:
      operationId: v12_eventcategory_list_filter_config_get
      summary: Get EventCategory List Filter Config
      description: Returns EventCategory List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: EventCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/EventCategory/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/EventCategory/Search:
    get:
      operationId: v12_eventcategory_search_get
      summary: Get EventCategory Search
      description: Returns EventCategory Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: EventCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/EventCategory/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/File/Index:
    get:
      operationId: v12_file_index_get
      summary: Get File Index
      description: Returns File Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: File'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/File/Index
        contentType: application/json; charset=UTF-8
  /apiv12/File/ListFilterConfig:
    get:
      operationId: v12_file_list_filter_config_get
      summary: Get File List Filter Config
      description: Returns File List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: File'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/File/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/File/{file_id}:
    get:
      operationId: v12_file_file_id_get
      summary: Get File {file Id}
      description: Returns File {file Id} data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: File'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/File/1
        contentType: application/json; charset=UTF-8
  /apiv12/File/{id}/Config:
    get:
      operationId: v12_file_id_config_get
      summary: Get File {id} Config
      description: Returns File {id} Config data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: File'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/File/1/Config
        contentType: application/json; charset=UTF-8
  /apiv12/File/{id}/ProfilePage:
    get:
      operationId: v12_file_id_profile_page_get
      summary: Get File {id} Profile Page
      description: Returns File {id} Profile Page data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: File'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/File/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Forum/Index:
    get:
      operationId: v12_forum_index_get
      summary: Get Forum Index
      description: Returns Forum Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Forum'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Forum/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Forum/ListFilterConfig:
    get:
      operationId: v12_forum_list_filter_config_get
      summary: Get Forum List Filter Config
      description: Returns Forum List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Forum'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Forum/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Forum/Search:
    get:
      operationId: v12_forum_search_get
      summary: Get Forum Search
      description: Returns Forum Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Forum'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Forum/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/8694/ProfilePage:
    get:
      operationId: v12_game_8694_profile_page_get
      summary: Get Game 8694 Profile Page
      description: Returns Game 8694 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/Index:
    get:
      operationId: v12_game_index_get
      summary: Get Game Index
      description: Returns Game Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Game/ListFilterConfig:
    get:
      operationId: v12_game_list_filter_config_get
      summary: Get Game List Filter Config
      description: Returns Game List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id1}/CategoryTree:
    get:
      operationId: v12_game_id1_category_tree_get
      summary: Get Game {id1} Category Tree
      description: Returns Game {id1} Category Tree data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/CategoryTree
        contentType: application/json; charset=UTF-8
  /apiv12/Game/{id1}/CommunitySpotlight:
    get:
      operationId: v12_game_id1_community_spotlight_get
      summary: Get Game {id1} Community Spotlight
      description: Returns Game {id1} Community Spotlight data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/CommunitySpotlight
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id1}/Config:
    get:
      operationId: v12_game_id1_config_get
      summary: Get Game {id1} Config
      description: Returns Game {id1} Config data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Config
        contentType: application/json; charset=UTF-8
  /apiv12/Game/{id1}/GetStartedPage:
    get:
      operationId: v12_game_id1_get_started_page_get
      summary: Get Game {id1} Get Started Page
      description: Returns Game {id1} Get Started Page data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/GetStartedPage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id1}/Keys/ForSale:
    get:
      operationId: v12_game_id1_keys_for_sale_get
      summary: Get Game {id1} Keys For Sale
      description: Returns Game {id1} Keys For Sale data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Keys/ForSale
        contentType: application/json; charset=UTF-8
  /apiv12/Game/{id1}/Keys/Summary:
    get:
      operationId: v12_game_id1_keys_summary_get
      summary: Get Game {id1} Keys Summary
      description: Returns Game {id1} Keys Summary data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Keys/Summary
        contentType: application/json; charset=UTF-8
  /apiv12/Game/{id1}/ProfilePage:
    get:
      operationId: v12_game_id1_profile_page_get
      summary: Get Game {id1} Profile Page
      description: Returns Game {id1} Profile Page data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id1}/Rules:
    get:
      operationId: v12_game_id1_rules_get
      summary: Get Game {id1} Rules
      description: Returns Game {id1} Rules data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Rules
        contentType: application/json; charset=UTF-8
  /apiv12/Game/{id1}/Subfeed:
    get:
      operationId: v12_game_id1_subfeed_get
      summary: Get Game {id1} Subfeed
      description: Returns Game {id1} Subfeed data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Subfeed
        contentType: application/json; charset=UTF-8
  /apiv12/Game/{id1}/TopSubs:
    get:
      operationId: v12_game_id1_top_subs_get
      summary: Get Game {id1} Top Subs
      description: Returns Game {id1} Top Subs data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/TopSubs
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id}/CommunitySpotlight:
    get:
      operationId: v12_game_id_community_spotlight_get
      summary: Get Game {id} Community Spotlight
      description: Returns Game {id} Community Spotlight data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/CommunitySpotlight
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id}/GetStartedPage:
    get:
      operationId: v12_game_id_get_started_page_get
      summary: Get Game {id} Get Started Page
      description: Returns Game {id} Get Started Page data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/GetStartedPage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id}/ProfilePage:
    get:
      operationId: v12_game_id_profile_page_get
      summary: Get Game {id} Profile Page
      description: Returns Game {id} Profile Page data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id}/Rules:
    get:
      operationId: v12_game_id_rules_get
      summary: Get Game {id} Rules
      description: Returns Game {id} Rules data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Rules
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id}/Subfeed:
    get:
      operationId: v12_game_id_subfeed_get
      summary: Get Game {id} Subfeed
      description: Returns Game {id} Subfeed data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/Subfeed
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Game/{id}/TopSubs:
    get:
      operationId: v12_game_id_top_subs_get
      summary: Get Game {id} Top Subs
      description: Returns Game {id} Top Subs data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Game'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Game/8694/TopSubs
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/GameKey/1/ProfilePage:
    get:
      operationId: v12_gamekey_1_profile_page_get
      summary: Get GameKey 1 Profile Page
      description: Returns GameKey 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GameKey'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GameKey/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/GameKey/Index:
    get:
      operationId: v12_gamekey_index_get
      summary: Get GameKey Index
      description: Returns GameKey Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GameKey'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GameKey/Index
        contentType: application/json; charset=UTF-8
  /apiv12/GameKey/ListFilterConfig:
    get:
      operationId: v12_gamekey_list_filter_config_get
      summary: Get GameKey List Filter Config
      description: Returns GameKey List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GameKey'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GameKey/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Generator/1/ProfilePage:
    get:
      operationId: v12_generator_1_profile_page_get
      summary: Get Generator 1 Profile Page
      description: Returns Generator 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Generator'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Generator/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Generator/Index:
    get:
      operationId: v12_generator_index_get
      summary: Get Generator Index
      description: Returns Generator Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Generator'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Generator/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Generator/ListFilterConfig:
    get:
      operationId: v12_generator_list_filter_config_get
      summary: Get Generator List Filter Config
      description: Returns Generator List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Generator'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Generator/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/GeneratorCategory/1/ProfilePage:
    get:
      operationId: v12_generatorcategory_1_profile_page_get
      summary: Get GeneratorCategory 1 Profile Page
      description: Returns GeneratorCategory 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GeneratorCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GeneratorCategory/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/GeneratorCategory/Index:
    get:
      operationId: v12_generatorcategory_index_get
      summary: Get GeneratorCategory Index
      description: Returns GeneratorCategory Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GeneratorCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GeneratorCategory/Index
        contentType: application/json; charset=UTF-8
  /apiv12/GeneratorCategory/ListFilterConfig:
    get:
      operationId: v12_generatorcategory_list_filter_config_get
      summary: Get GeneratorCategory List Filter Config
      description: Returns GeneratorCategory List Filter Config data for public API
        consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GeneratorCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GeneratorCategory/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/GmApplication/ListFilterConfig:
    get:
      operationId: v12_gmapplication_list_filter_config_get
      summary: Get GmApplication List Filter Config
      description: Returns GmApplication List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: GmApplication'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/GmApplication/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Idea/1/ProfilePage:
    get:
      operationId: v12_idea_1_profile_page_get
      summary: Get Idea 1 Profile Page
      description: Returns Idea 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Idea'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Idea/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Idea/Index:
    get:
      operationId: v12_idea_index_get
      summary: Get Idea Index
      description: Returns Idea Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Idea'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Idea/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Idea/ListFilterConfig:
    get:
      operationId: v12_idea_list_filter_config_get
      summary: Get Idea List Filter Config
      description: Returns Idea List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Idea'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Idea/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Idea/{id}/Config:
    get:
      operationId: v12_idea_id_config_get
      summary: Get Idea {id} Config
      description: Returns Idea {id} Config data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Idea'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Idea/1/Config
        contentType: application/json; charset=UTF-8
  /apiv12/Idea/{id}/ProfilePage:
    get:
      operationId: v12_idea_id_profile_page_get
      summary: Get Idea {id} Profile Page
      description: Returns Idea {id} Profile Page data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Idea'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Idea/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Idea/{submission_id}/Ratings:
    get:
      operationId: v12_idea_submission_id_ratings_get
      summary: Get Idea {submission Id} Ratings
      description: Returns Idea {submission Id} Ratings data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Idea'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Idea/1/Ratings
        contentType: application/json; charset=UTF-8
  /apiv12/Initiative/1/ProfilePage:
    get:
      operationId: v12_initiative_1_profile_page_get
      summary: Get Initiative 1 Profile Page
      description: Returns Initiative 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Initiative'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Initiative/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Initiative/Index:
    get:
      operationId: v12_initiative_index_get
      summary: Get Initiative Index
      description: Returns Initiative Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Initiative'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Initiative/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Initiative/ListFilterConfig:
    get:
      operationId: v12_initiative_list_filter_config_get
      summary: Get Initiative List Filter Config
      description: Returns Initiative List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Initiative'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Initiative/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/Initiative/Search:
    get:
      operationId: v12_initiative_search_get
      summary: Get Initiative Search
      description: Returns Initiative Search data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Initiative'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Initiative/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Issue/Index:
    get:
      operationId: v12_issue_index_get
      summary: Get Issue Index
      description: Returns Issue Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Issue'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Issue/Index
        contentType: application/json; charset=UTF-8
  /apiv12/Issue/ListFilterConfig:
    get:
      operationId: v12_issue_list_filter_config_get
      summary: Get Issue List Filter Config
      description: Returns Issue List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Issue'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Issue/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/ItemType/Index:
    get:
      operationId: v12_itemtype_index_get
      summary: Get ItemType Index
      description: Returns ItemType Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ItemType'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ItemType/Index
        contentType: application/json; charset=UTF-8
  /apiv12/ItemType/ListFilterConfig:
    get:
      operationId: v12_itemtype_list_filter_config_get
      summary: Get ItemType List Filter Config
      description: Returns ItemType List Filter Config data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ItemType'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ItemType/ListFilterConfig
        contentType: application/json; charset=UTF-8
  /apiv12/ItemType/{id}/Config:
    get:
      operationId: v12_itemtype_id_config_get
      summary: Get ItemType {id} Config
      description: Returns ItemType {id} Config data for public API consumers. Supports
        optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ItemType'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ItemType/1/Config
        contentType: application/json; charset=UTF-8
  /apiv12/ItemType/{id}/ProfilePage:
    get:
      operationId: v12_itemtype_id_profile_page_get
      summary: Get ItemType {id} Profile Page
      description: Returns ItemType {id} Profile Page data for public API consumers.
        Supports optional query filters.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: Observed path parameter
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: ItemType'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ItemType/1/ProfilePage
        contentType: application/json; charset=UTF-8
  /apiv12/Jam/1/ProfilePage:
    get:
      operationId: v12_jam_1_profile_page_get
      summary: Get Jam 1 Profile Page
      description: Returns Jam 1 Profile Page data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Unexpected response
      tags:
      - 'v12: Jam'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Jam/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
  /apiv12/Jam/Index:
    get:
      operationId: v12_jam_index_get
      summary: Get Jam Index
      description: Returns Jam Index data for public API consumers.
      responses:
        '200':
          description: Observed response status 200
          content:
            application/json:
              schema:
[...]
