openapi: 3.1.0
info:
  title: GameBanana APIs (Unofficial Documentation)
  version: 0.2.0
  description: Unofficial GameBanana API reference. Use the version groups in the sidebar, choose an endpoint,
    fill any path or query parameters, and check the response content type before parsing.
servers:
- url: https://gamebanana.com
  description: GameBanana main host
- url: https://api.gamebanana.com
  description: GameBanana API host
- url: https://dev.gamebanana.com
  description: GameBanana development host
- url: https://api.dev.gamebanana.com
  description: GameBanana development API host
tags:
- name: 'v3: Mod'
  x-displayName: Mod
- name: 'v3: ModCategory'
  x-displayName: ModCategory
- name: 'v3: Tool'
  x-displayName: Tool
- name: 'v4: Mod'
  x-displayName: Mod
- name: 'v5: Mod'
  x-displayName: Mod
- name: 'v6: Gamefile'
  x-displayName: Gamefile
- name: 'v6: Mod'
  x-displayName: Mod
- name: 'v7: Mod'
  x-displayName: Mod
- name: 'v8: Mod'
  x-displayName: Mod
- name: 'v8: Util'
  x-displayName: Util
- name: 'v11: App'
  x-displayName: App
- name: 'v11: Collection'
  x-displayName: Collection
- name: 'v11: Contest'
  x-displayName: Contest
- name: 'v11: File'
  x-displayName: File
- name: 'v11: Game'
  x-displayName: Game
- name: 'v11: Idea'
  x-displayName: Idea
- name: 'v11: Jam'
  x-displayName: Jam
- name: 'v11: Member'
  x-displayName: Member
- name: 'v11: Mod'
  x-displayName: Mod
- name: 'v11: ModCategory'
  x-displayName: ModCategory
- name: 'v11: Mods'
  x-displayName: Mods
- name: 'v11: Poll'
  x-displayName: Poll
- name: 'v11: Post'
  x-displayName: Post
- name: 'v11: RemoteInstall'
  x-displayName: RemoteInstall
- name: 'v11: Request'
  x-displayName: Request
- name: 'v11: Ripe'
  x-displayName: Ripe
- name: 'v11: Support'
  x-displayName: Support
- name: 'v11: Tool'
  x-displayName: Tool
- name: 'v11: Util'
  x-displayName: Util
- name: 'v11: Wip'
  x-displayName: Wip
- name: 'v11: {model_name}'
  x-displayName: '{model_name}'
- name: 'v11: {section_slug}'
  x-displayName: '{section_slug}'
- name: 'v12: App'
  x-displayName: App
- name: 'v12: Article'
  x-displayName: Article
- name: 'v12: ArticleCategory'
  x-displayName: ArticleCategory
- name: 'v12: Bitpit'
  x-displayName: Bitpit
- name: 'v12: Blog'
  x-displayName: Blog
- name: 'v12: BlogCategory'
  x-displayName: BlogCategory
- name: 'v12: Bug'
  x-displayName: Bug
- name: 'v12: Club'
  x-displayName: Club
- name: 'v12: Collection'
  x-displayName: Collection
- name: 'v12: Concept'
  x-displayName: Concept
- name: 'v12: ConceptCategory'
  x-displayName: ConceptCategory
- name: 'v12: Contest'
  x-displayName: Contest
- name: 'v12: ContestCategory'
  x-displayName: ContestCategory
- name: 'v12: Event'
  x-displayName: Event
- name: 'v12: EventCategory'
  x-displayName: EventCategory
- name: 'v12: File'
  x-displayName: File
- name: 'v12: Forum'
  x-displayName: Forum
- name: 'v12: Game'
  x-displayName: Game
- name: 'v12: GameKey'
  x-displayName: GameKey
- name: 'v12: Generator'
  x-displayName: Generator
- name: 'v12: GeneratorCategory'
  x-displayName: GeneratorCategory
- name: 'v12: GmApplication'
  x-displayName: GmApplication
- name: 'v12: Idea'
  x-displayName: Idea
- name: 'v12: Initiative'
  x-displayName: Initiative
- name: 'v12: Issue'
  x-displayName: Issue
- name: 'v12: ItemType'
  x-displayName: ItemType
- name: 'v12: Jam'
  x-displayName: Jam
- name: 'v12: JamCategory'
  x-displayName: JamCategory
- name: 'v12: Medal'
  x-displayName: Medal
- name: 'v12: Member'
  x-displayName: Member
- name: 'v12: Mod'
  x-displayName: Mod
- name: 'v12: ModCategory'
  x-displayName: ModCategory
- name: 'v12: Model'
  x-displayName: Model
- name: 'v12: ModelCategory'
  x-displayName: ModelCategory
- name: 'v12: Mods'
  x-displayName: Mods
- name: 'v12: News'
  x-displayName: News
- name: 'v12: NewsCategory'
  x-displayName: NewsCategory
- name: 'v12: Permit'
  x-displayName: Permit
- name: 'v12: Poll'
  x-displayName: Poll
- name: 'v12: PollCategory'
  x-displayName: PollCategory
- name: 'v12: PositionAvailable'
  x-displayName: PositionAvailable
- name: 'v12: Post'
  x-displayName: Post
- name: 'v12: Project'
  x-displayName: Project
- name: 'v12: ProjectCategory'
  x-displayName: ProjectCategory
- name: 'v12: Question'
  x-displayName: Question
- name: 'v12: QuestionCategory'
  x-displayName: QuestionCategory
- name: 'v12: RemoteDL'
  x-displayName: RemoteDL
- name: 'v12: RemoteInstall'
  x-displayName: RemoteInstall
- name: 'v12: Request'
  x-displayName: Request
- name: 'v12: RequestCategory'
  x-displayName: RequestCategory
- name: 'v12: Review'
  x-displayName: Review
- name: 'v12: Ripe'
  x-displayName: Ripe
- name: 'v12: Script'
  x-displayName: Script
- name: 'v12: ScriptCategory'
  x-displayName: ScriptCategory
- name: 'v12: Sound'
  x-displayName: Sound
- name: 'v12: SoundCategory'
  x-displayName: SoundCategory
- name: 'v12: Spray'
  x-displayName: Spray
- name: 'v12: SprayCategory'
  x-displayName: SprayCategory
- name: 'v12: StatusUpdate'
  x-displayName: StatusUpdate
- name: 'v12: Studio'
  x-displayName: Studio
- name: 'v12: Subscription'
  x-displayName: Subscription
- name: 'v12: Support'
  x-displayName: Support
- name: 'v12: Thread'
  x-displayName: Thread
- name: 'v12: Todo'
  x-displayName: Todo
- name: 'v12: Tool'
  x-displayName: Tool
- name: 'v12: ToolCategory'
  x-displayName: ToolCategory
- name: 'v12: Tutorial'
  x-displayName: Tutorial
- name: 'v12: TutorialCategory'
  x-displayName: TutorialCategory
- name: 'v12: Update'
  x-displayName: Update
- name: 'v12: Util'
  x-displayName: Util
- name: 'v12: Ware'
  x-displayName: Ware
- name: 'v12: WareCategory'
  x-displayName: WareCategory
- name: 'v12: WareOrder'
  x-displayName: WareOrder
- name: 'v12: Wiki'
  x-displayName: Wiki
- name: 'v12: WikiCategory'
  x-displayName: WikiCategory
- name: 'v12: Wip'
  x-displayName: Wip
- name: 'v12: WipCategory'
  x-displayName: WipCategory
x-tagGroups:
- name: v12
  tags:
  - 'v12: App'
  - 'v12: Article'
  - 'v12: ArticleCategory'
  - 'v12: Bitpit'
  - 'v12: Blog'
  - 'v12: BlogCategory'
  - 'v12: Bug'
  - 'v12: Club'
  - 'v12: Collection'
  - 'v12: Concept'
  - 'v12: ConceptCategory'
  - 'v12: Contest'
  - 'v12: ContestCategory'
  - 'v12: Event'
  - 'v12: EventCategory'
  - 'v12: File'
  - 'v12: Forum'
  - 'v12: Game'
  - 'v12: GameKey'
  - 'v12: Generator'
  - 'v12: GeneratorCategory'
  - 'v12: GmApplication'
  - 'v12: Idea'
  - 'v12: Initiative'
  - 'v12: Issue'
  - 'v12: ItemType'
  - 'v12: Jam'
  - 'v12: JamCategory'
  - 'v12: Medal'
  - 'v12: Member'
  - 'v12: Mod'
  - 'v12: ModCategory'
  - 'v12: Model'
  - 'v12: ModelCategory'
  - 'v12: Mods'
  - 'v12: News'
  - 'v12: NewsCategory'
  - 'v12: Permit'
  - 'v12: Poll'
  - 'v12: PollCategory'
  - 'v12: PositionAvailable'
  - 'v12: Post'
  - 'v12: Project'
  - 'v12: ProjectCategory'
  - 'v12: Question'
  - 'v12: QuestionCategory'
  - 'v12: RemoteDL'
  - 'v12: RemoteInstall'
  - 'v12: Request'
  - 'v12: RequestCategory'
  - 'v12: Review'
  - 'v12: Ripe'
  - 'v12: Script'
  - 'v12: ScriptCategory'
  - 'v12: Sound'
  - 'v12: SoundCategory'
  - 'v12: Spray'
  - 'v12: SprayCategory'
  - 'v12: StatusUpdate'
  - 'v12: Studio'
  - 'v12: Subscription'
  - 'v12: Support'
  - 'v12: Thread'
  - 'v12: Todo'
  - 'v12: Tool'
  - 'v12: ToolCategory'
  - 'v12: Tutorial'
  - 'v12: TutorialCategory'
  - 'v12: Update'
  - 'v12: Util'
  - 'v12: Ware'
  - 'v12: WareCategory'
  - 'v12: WareOrder'
  - 'v12: Wiki'
  - 'v12: WikiCategory'
  - 'v12: Wip'
  - 'v12: WipCategory'
- name: v11
  tags:
  - 'v11: App'
  - 'v11: Collection'
  - 'v11: Contest'
  - 'v11: File'
  - 'v11: Game'
  - 'v11: Idea'
  - 'v11: Jam'
  - 'v11: Member'
  - 'v11: Mod'
  - 'v11: ModCategory'
  - 'v11: Mods'
  - 'v11: Poll'
  - 'v11: Post'
  - 'v11: RemoteInstall'
  - 'v11: Request'
  - 'v11: Ripe'
  - 'v11: Support'
  - 'v11: Tool'
  - 'v11: Util'
  - 'v11: Wip'
  - 'v11: {model_name}'
  - 'v11: {section_slug}'
- name: v8
  tags:
  - 'v8: Mod'
  - 'v8: Util'
- name: v7
  tags:
  - 'v7: Mod'
- name: v6
  tags:
  - 'v6: Gamefile'
  - 'v6: Mod'
- name: v5
  tags:
  - 'v5: Mod'
- name: v4
  tags:
  - 'v4: Mod'
- name: v3
  tags:
  - 'v3: Mod'
  - 'v3: ModCategory'
  - 'v3: Tool'
externalDocs:
  description: Live documentation site
  url: https://immalloy.github.io/GamebananaAPI-Docs/
paths:
  /apiv11/App/{submission_id}/Users:
    get:
      operationId: v11_app_submission_id_users_get
      summary: List related users (App)
      description: Use this endpoint to list related users (App). Required path and query values are listed
        below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/App/{submission_id}/Users
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: users-example-1
                  - id: 2
                    name: users-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: App'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/App/1/Users
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/App/1/Users
      x-observed-response-format: json
  /apiv11/Collection/Index:
    get:
      operationId: v11_collection_index_get
      summary: List primary resources (Collection)
      description: Use this endpoint to list primary resources (Collection). No parameters are required.
      parameters:
      - in: query
        name: _aFilters[Collection_Privacy]
        required: false
        schema:
          type: string
        description: Optional query parameter `_aFilters[Collection_Privacy]`. Filter key `Collection_Privacy`
          used by server-side query filtering. Combine with pagination/sort parameters to build faceted
          result queries.
        example: example
      - in: query
        name: _aFilters[Generic_Game]
        required: false
        schema:
          type: integer
        description: Optional query parameter `_aFilters[Generic_Game]`. Filter key `Generic_Game` used
          by server-side query filtering. Combine with pagination/sort parameters to build faceted result
          queries.
        example: example
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPerpage`. Maximum items to return per page. Tune this
          for payload size vs. request count tradeoffs.
        example: 15
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Collection/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Collection'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Collection/Index
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Collection/Index
      x-observed-response-format: json
  /apiv11/Collection/ListFilterConfig:
    get:
      operationId: v11_collection_list_filter_config_get
      summary: Get list filter configuration (Collection)
      description: Use this endpoint to get list filter configuration (Collection). No parameters are
        required. This endpoint may return HTML, so check the response content type before parsing.
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Collection/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Collection'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Collection/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Collection/ListFilterConfig
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `html`, full live verification
        on 2026-06-01T21:22:07Z returned `json` (application/json; charset=UTF-8).'
  /apiv11/Collection/{submission_id}/Items:
    get:
      operationId: v11_collection_submission_id_items_get
      summary: List collection items (Collection)
      description: Use this endpoint to list collection items (Collection). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPerpage`. Maximum items to return per page. Tune this
          for payload size vs. request count tradeoffs.
        example: 15
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Collection/{submission_id}/Items
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: items-example-1
                  - id: 2
                    name: items-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Collection'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Collection/1/Items
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Collection/1/Items
      x-observed-response-format: json
  /apiv11/Contest/{submission_id}/Winners:
    get:
      operationId: v11_contest_submission_id_winners_get
      summary: List contest winners (Contest)
      description: Use this endpoint to list contest winners (Contest). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Contest/{submission_id}/Winners
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: winners-example-1
                  - id: 2
                    name: winners-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Contest'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Contest/1/Winners
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Contest/1/Winners
      x-observed-response-format: json
  /apiv11/File/{file_id}:
    get:
      operationId: v11_file_file_id_get
      summary: Get resource payload (File)
      description: Use this endpoint to get resource payload (File). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: integer
        description: ID used in the `file_id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/File/{file_id}
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: File'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/File/1
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/File/1
      x-observed-response-format: json
  /apiv11/Game/Index:
    get:
      operationId: v11_game_index_get
      summary: List primary resources (Game)
      description: Use this endpoint to list primary resources (Game). No parameters are required.
      parameters:
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPerpage`. Maximum items to return per page. Tune this
          for payload size vs. request count tradeoffs.
        example: 15
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Optional query parameter `_sSort`. Sort mode key used by the endpoint. Use server-supported
          values from `ListFilterConfig` where available.
        example: newest
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/Index
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/Index
      x-observed-response-format: json
  /apiv11/Game/ListFilterConfig:
    get:
      operationId: v11_game_list_filter_config_get
      summary: Get list filter configuration (Game)
      description: Use this endpoint to get list filter configuration (Game). No parameters are required.
        This endpoint may return HTML, so check the response content type before parsing.
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/ListFilterConfig
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `html`, full live verification
        on 2026-06-01T21:22:07Z returned `json` (application/json; charset=UTF-8).'
  /apiv11/Game/{id1}/CategoryTree:
    get:
      operationId: v11_game_id1_category_tree_get
      summary: Get category tree (Game)
      description: Use this endpoint to get category tree (Game). Required path and query values are listed
        below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/CategoryTree
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/CategoryTree
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/CategoryTree
      x-observed-response-format: json
  /apiv11/Game/{id1}/CommunitySpotlight:
    get:
      operationId: v11_game_id1_community_spotlight_get
      summary: Get community spotlight content (Game)
      description: Use this endpoint to get community spotlight content (Game). Required path and query
        values are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/CommunitySpotlight
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/CommunitySpotlight
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/CommunitySpotlight
      x-observed-response-format: json
  /apiv11/Game/{id1}/Config:
    get:
      operationId: v11_game_id1_config_get
      summary: Get resource configuration (Game)
      description: Use this endpoint to get resource configuration (Game). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/Config
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  filters:
                  - key: sort
                    values:
                    - newest
                    - popular
                  defaults:
                    sort: newest
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Config
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Config
      x-observed-response-format: json
  /apiv11/Game/{id1}/GetStartedPage:
    get:
      operationId: v11_game_id1_get_started_page_get
      summary: Get getting started payload (Game)
      description: Use this endpoint to get getting started payload (Game). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/GetStartedPage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/GetStartedPage
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/GetStartedPage
      x-observed-response-format: json
  /apiv11/Game/{id1}/Keys/ForSale:
    get:
      operationId: v11_game_id1_keys_for_sale_get
      summary: List keys for sale (Game)
      description: Use this endpoint to list keys for sale (Game). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/Keys/ForSale
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: forsale-example-1
                  - id: 2
                    name: forsale-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Keys/ForSale
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Keys/ForSale
      x-observed-response-format: json
  /apiv11/Game/{id1}/Keys/Summary:
    get:
      operationId: v11_game_id1_keys_summary_get
      summary: Get key inventory summary (Game)
      description: Use this endpoint to get key inventory summary (Game). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/Keys/Summary
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Keys/Summary
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Keys/Summary
      x-observed-response-format: json
  /apiv11/Game/{id1}/ProfilePage:
    get:
      operationId: v11_game_id1_profile_page_get
      summary: Fetch profile page payload (Game)
      description: Use this endpoint to fetch profile page payload (Game). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/ProfilePage
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/ProfilePage
      x-observed-response-format: json
  /apiv11/Game/{id1}/Rules:
    get:
      operationId: v11_game_id1_rules_get
      summary: Get rules (Game)
      description: Use this endpoint to get rules (Game). Required path and query values are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/Rules
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Rules
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Rules
      x-observed-response-format: json
  /apiv11/Game/{id1}/Subfeed:
    get:
      operationId: v11_game_id1_subfeed_get
      summary: Get submission feed (Game)
      description: Use this endpoint to get submission feed (Game). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _sName
        required: false
        schema:
          type: string
        description: Optional query parameter `_sName`. Name search string. Matched against endpoint-specific
          name/title fields.
        example: example
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Optional query parameter `_sSort`. Sort mode key used by the endpoint. Use server-supported
          values from `ListFilterConfig` where available.
        example: newest
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/Subfeed
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Subfeed
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Subfeed
      x-observed-response-format: json
  /apiv11/Game/{id1}/TopSubs:
    get:
      operationId: v11_game_id1_top_subs_get
      summary: Get top submissions (Game)
      description: Use this endpoint to get top submissions (Game). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id1}/TopSubs
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/TopSubs
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/TopSubs
      x-observed-response-format: json
  /apiv11/Game/{id}/CommunitySpotlight:
    get:
      operationId: v11_game_id_community_spotlight_get
      summary: Get community spotlight content (Game)
      description: Use this endpoint to get community spotlight content (Game). Required path and query
        values are listed below. This endpoint may return HTML, so check the response content type before
        parsing.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: ID used in the `id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/CommunitySpotlight
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/CommunitySpotlight
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/CommunitySpotlight
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `html`, full live verification
        on 2026-06-01T21:22:07Z returned `json` (application/json; charset=UTF-8).'
  /apiv11/Game/{id}/GetStartedPage:
    get:
      operationId: v11_game_id_get_started_page_get
      summary: Get getting started payload (Game)
      description: Use this endpoint to get getting started payload (Game). Required path and query values
        are listed below. This endpoint may return HTML, so check the response content type before parsing.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: ID used in the `id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/GetStartedPage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/GetStartedPage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/GetStartedPage
      x-observed-response-format: html
  /apiv11/Game/{id}/ProfilePage:
    get:
      operationId: v11_game_id_profile_page_get
      summary: Fetch profile page payload (Game)
      description: Use this endpoint to fetch profile page payload (Game). Required path and query values
        are listed below. This endpoint may return HTML, so check the response content type before parsing.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: ID used in the `id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/ProfilePage
      x-observed-response-format: html
  /apiv11/Game/{id}/Rules:
    get:
      operationId: v11_game_id_rules_get
      summary: Get rules (Game)
      description: Use this endpoint to get rules (Game). Required path and query values are listed below.
        This endpoint may return HTML, so check the response content type before parsing.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: ID used in the `id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/Rules
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Rules
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Rules
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `html`, full live verification
        on 2026-06-01T21:22:07Z returned `json` (application/json; charset=UTF-8).'
  /apiv11/Game/{id}/Subfeed:
    get:
      operationId: v11_game_id_subfeed_get
      summary: Get submission feed (Game)
      description: Use this endpoint to get submission feed (Game). Required path and query values are
        listed below. This endpoint may return HTML, so check the response content type before parsing.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: ID used in the `id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Optional query parameter `_sSort`. Sort mode key used by the endpoint. Use server-supported
          values from `ListFilterConfig` where available.
        example: newest
      - in: query
        name: _sName
        required: false
        schema:
          type: string
        description: Optional query parameter `_sName`. Name search string. Matched against endpoint-specific
          name/title fields.
        example: example
      - in: query
        name: _csvModelInclusions
        required: false
        schema:
          type: string
        description: Optional query parameter `_csvModelInclusions`. Comma-separated included model names.
          Limits cross-model data to these model types.
        example: Mod,Tool
      - in: query
        name: _csvModelExclusions
        required: false
        schema:
          type: string
        description: Optional query parameter `_csvModelExclusions`. Comma-separated excluded model names.
          Removes specified model types from mixed results.
        example: Blog,News
      - in: query
        name: _csvTagInclusions
        required: false
        schema:
          type: string
        description: Optional query parameter `_csvTagInclusions`. Comma-separated included tags. Returns
          rows containing at least one included tag.
        example: feature,update
      - in: query
        name: _csvTagExclusions
        required: false
        schema:
          type: string
        description: Optional query parameter `_csvTagExclusions`. Comma-separated excluded tags. Filters
          out rows containing excluded tags.
        example: nsfw,spoiler
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/Subfeed
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        '400':
          description: HTTP 400 response as observed for this endpoint.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv11/Game/{id}/Subfeed`. Field presence can vary
                  by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/Subfeed
                  method: GET
                  status: '400'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/Subfeed
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/Subfeed
      x-observed-response-format: html
  /apiv11/Game/{id}/TopSubs:
    get:
      operationId: v11_game_id_top_subs_get
      summary: Get top submissions (Game)
      description: Use this endpoint to get top submissions (Game). Required path and query values are
        listed below. This endpoint may return HTML, so check the response content type before parsing.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
        description: ID used in the `id` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Game/{id}/TopSubs
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Game'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Game/1/TopSubs
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Game/1/TopSubs
      x-observed-response-format: html
  /apiv11/Idea/{submission_id}/Ratings:
    get:
      operationId: v11_idea_submission_id_ratings_get
      summary: List ratings (Idea)
      description: Use this endpoint to list ratings (Idea). Required path and query values are listed
        below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPerpage`. Maximum items to return per page. Tune this
          for payload size vs. request count tradeoffs.
        example: 15
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Idea/{submission_id}/Ratings
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: ratings-example-1
                  - id: 2
                    name: ratings-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Idea'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Idea/1/Ratings
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Idea/1/Ratings
      x-observed-response-format: json
  /apiv11/Jam/{submission_id}/Bounty/Contributors:
    get:
      operationId: v11_jam_submission_id_bounty_contributors_get
      summary: List bounty contributors (Jam)
      description: Use this endpoint to list bounty contributors (Jam). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Jam/{submission_id}/Bounty/Contributors
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: contributors-example-1
                  - id: 2
                    name: contributors-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Jam'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Jam/1/Bounty/Contributors
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Jam/1/Bounty/Contributors
      x-observed-response-format: json
  /apiv11/Jam/{submission_id}/Bounty/Recipients:
    get:
      operationId: v11_jam_submission_id_bounty_recipients_get
      summary: List bounty recipients (Jam)
      description: Use this endpoint to list bounty recipients (Jam). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Jam/{submission_id}/Bounty/Recipients
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: recipients-example-1
                  - id: 2
                    name: recipients-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Jam'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Jam/1/Bounty/Recipients
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Jam/1/Bounty/Recipients
      x-observed-response-format: json
  /apiv11/Jam/{submission_id}/Entries:
    get:
      operationId: v11_jam_submission_id_entries_get
      summary: List jam entries (Jam)
      description: Use this endpoint to list jam entries (Jam). Required path and query values are listed
        below.
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: ID used in the `submission_id` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Jam/{submission_id}/Entries
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: entries-example-1
                  - id: 2
                    name: entries-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Jam'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Jam/1/Entries
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Jam/1/Entries
      x-observed-response-format: json
  /apiv11/Member/EmailAuthenticate:
    get:
      operationId: v11_member_email_authenticate_get
      summary: Validate email authentication token (Member)
      description: Use this endpoint to validate email authentication token (Member). No parameters are
        required. This endpoint may return HTML, so check the response content type before parsing.
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/EmailAuthenticate
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        '400':
          description: HTTP 400 response as observed for this endpoint.
        '401':
          description: HTTP 401 response as observed for this endpoint.
        '403':
          description: HTTP 403 response as observed for this endpoint.
        '404':
          description: HTTP 404 response as observed for this endpoint.
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/EmailAuthenticate
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Member/EmailAuthenticate
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `html`, full live verification
        on 2026-06-01T21:22:07Z returned `json` (application/json; charset=UTF-8).'
      x-live-verification-status: error
      x-live-verification-note: 'Full verification on 2026-06-01T21:22:07Z returned error: HTTP Error
        404: Not Found'
  /apiv11/Member/UiConfig:
    get:
      operationId: v11_member_ui_config_get
      summary: Get UI configuration (Member)
      description: Use this endpoint to get UI configuration (Member). No parameters are required.
      parameters:
      - in: query
        name: _sUrl
        required: false
        schema:
          type: string
        description: Optional query parameter `_sUrl`. Client URL context. Used by some UI configuration
          endpoints to scope returned config blocks.
        example: https://gamebanana.com/mods/1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/UiConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  filters:
                  - key: sort
                    values:
                    - newest
                    - popular
                  defaults:
                    sort: newest
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/UiConfig
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/UiConfig
      x-observed-response-format: json
  /apiv11/Member/UiCounts:
    get:
      operationId: v11_member_ui_counts_get
      summary: Get UI counters (Member)
      description: Use this endpoint to get UI counters (Member). No parameters are required. This endpoint
        may return HTML, so check the response content type before parsing.
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/UiCounts
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  filters:
                  - key: sort
                    values:
                    - newest
                    - popular
                  defaults:
                    sort: newest
                errors: []
            text/html:
              schema:
                type: string
                description: Raw response body.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana endpoint.</body></html>
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/UiCounts
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-request-example: GET https://gamebanana.com/apiv11/Member/UiCounts
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `html`, full live verification
        on 2026-06-01T21:22:07Z returned `json` (application/json; charset=UTF-8).'
  /apiv11/Member/{id1}/Apps:
    get:
      operationId: v11_member_id1_apps_get
      summary: List member apps (Member)
      description: Use this endpoint to list member apps (Member). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/Apps
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: apps-example-1
                  - id: 2
                    name: apps-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/Apps
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/Apps
      x-observed-response-format: json
  /apiv11/Member/{id1}/AvatarTooltip:
    get:
      operationId: v11_member_id1_avatar_tooltip_get
      summary: Get avatar tooltip payload (Member)
      description: Use this endpoint to get avatar tooltip payload (Member). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/AvatarTooltip
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/AvatarTooltip
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/AvatarTooltip
      x-observed-response-format: json
  /apiv11/Member/{id1}/Buddies:
    get:
      operationId: v11_member_id1_buddies_get
      summary: List buddies (Member)
      description: Use this endpoint to list buddies (Member). Required path and query values are listed
        below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/Buddies
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: buddies-example-1
                  - id: 2
                    name: buddies-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/Buddies
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/Buddies
      x-observed-response-format: json
  /apiv11/Member/{id1}/BuddiesSummary:
    get:
      operationId: v11_member_id1_buddies_summary_get
      summary: Get buddies summary (Member)
      description: Use this endpoint to get buddies summary (Member). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/BuddiesSummary
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  id: 1
                  name: example
                  attributes:
                    status: active
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/BuddiesSummary
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/BuddiesSummary
      x-observed-response-format: json
  /apiv11/Member/{id1}/Config:
    get:
      operationId: v11_member_id1_config_get
      summary: Get resource configuration (Member)
      description: Use this endpoint to get resource configuration (Member). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/Config
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  filters:
                  - key: sort
                    values:
                    - newest
                    - popular
                  defaults:
                    sort: newest
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/Config
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/Config
      x-observed-response-format: json
  /apiv11/Member/{id1}/IncomingBuddyRequests:
    get:
      operationId: v11_member_id1_incoming_buddy_requests_get
      summary: List incoming buddy requests (Member)
      description: Use this endpoint to list incoming buddy requests (Member). Required path and query
        values are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/IncomingBuddyRequests
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: incomingbuddyrequests-example-1
                  - id: 2
                    name: incomingbuddyrequests-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/IncomingBuddyRequests
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/IncomingBuddyRequests
      x-observed-response-format: json
  /apiv11/Member/{id1}/OutgoingBuddyRequests:
    get:
      operationId: v11_member_id1_outgoing_buddy_requests_get
      summary: List outgoing buddy requests (Member)
      description: Use this endpoint to list outgoing buddy requests (Member). Required path and query
        values are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/OutgoingBuddyRequests
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: outgoingbuddyrequests-example-1
                  - id: 2
                    name: outgoingbuddyrequests-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/OutgoingBuddyRequests
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/OutgoingBuddyRequests
      x-observed-response-format: json
  /apiv11/Member/{id1}/Posts:
    get:
      operationId: v11_member_id1_posts_get
      summary: List discussion posts (Member)
      description: Use this endpoint to list discussion posts (Member). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPerpage`. Maximum items to return per page. Tune this
          for payload size vs. request count tradeoffs.
        example: 15
      - in: query
        name: _sSort
        required: false
        schema:
          type: string
        description: Optional query parameter `_sSort`. Sort mode key used by the endpoint. Use server-supported
          values from `ListFilterConfig` where available.
        example: newest
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/Posts
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  items:
                  - id: 1
                    name: posts-example-1
                  - id: 2
                    name: posts-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/Posts
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/Posts
      x-observed-response-format: json
  /apiv11/Member/{id1}/ProfilePage:
    get:
      operationId: v11_member_id1_profile_page_get
      summary: Fetch profile page payload (Member)
      description: Use this endpoint to fetch profile page payload (Member). Required path and query values
        are listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response body. Fields can vary by endpoint, resource state, and permissions.
              example:
                _meta:
                  endpoint: /apiv11/Member/{id1}/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
        default:
          description: Unexpected error, invalid input, permission issue, or upstream failure.
      tags:
      - 'v11: Member'
      x-last-test:
        timestamp: '2026-04-19T17:42:02+00:00'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv11/Member/1/ProfilePage
        contentType: application/json; charset=UTF-8
      x-request-example: GET https://gamebanana.com/apiv11/Member/1/ProfilePage
      x-observed-response-format: json
  /apiv11/Member/{id1}/SubFeed:
    get:
      operationId: v11_member_id1_sub_feed_get
      summary: Get submission feed (Member)
      description: Use this endpoint to get submission feed (Member). Required path and query values are
        listed below.
      parameters:
      - in: path
        name: id1
        required: true
        schema:
          type: integer
        description: ID used in the `id1` URL segment.
        example: 1
      - in: query
        name: _nPage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPage`. 1-based page index for paginated results. Use
          `1` for the first page and increment for subsequent pages.
        example: 1
      - in: query
        name: _nPerpage
        required: false
        schema:
          type: integer
        description: Optional query parameter `_nPerpage`. Maximum items to return per page. Tune this
          for payload size vs. request count tradeoffs.
        example: 15
      responses:
        '200':
          description: Successful response. Shape can vary by resource and permissions.
          content:
            application/json:
              schema:
                type: object
[...]
