openapi: 3.0.3
info:
  title: GameBanana APIs (Unofficial Documentation)
  version: 0.1.0
  description: A simple API reference made by ImMalloy. You can use this however you
    like. Most endpoints were discovered by crawling/extraction tools, validated by
    automated tests, and then manually reviewed by me.
servers:
- url: https://gamebanana.com
  description: GameBanana main host
- url: https://api.gamebanana.com
  description: GameBanana API host
- url: https://dev.gamebanana.com
  description: GameBanana development host
- url: https://api.dev.gamebanana.com
  description: GameBanana development API host
tags:
- name: 'v12: App'
- name: 'v12: Article'
- name: 'v12: ArticleCategory'
- name: 'v12: Bitpit'
- name: 'v12: Blog'
- name: 'v12: BlogCategory'
- name: 'v12: Bug'
- name: 'v12: Club'
- name: 'v12: Collection'
- name: 'v12: Concept'
- name: 'v12: ConceptCategory'
- name: 'v12: Contest'
- name: 'v12: ContestCategory'
- name: 'v12: Event'
- name: 'v12: EventCategory'
- name: 'v12: File'
- name: 'v12: Forum'
- name: 'v12: Game'
- name: 'v12: GameKey'
- name: 'v12: Generator'
- name: 'v12: GeneratorCategory'
- name: 'v12: GmApplication'
- name: 'v12: Idea'
- name: 'v12: Initiative'
- name: 'v12: Issue'
- name: 'v12: ItemType'
- name: 'v12: Jam'
- name: 'v12: JamCategory'
- name: 'v12: Medal'
- name: 'v12: Member'
- name: 'v12: Mod'
- name: 'v12: ModCategory'
- name: 'v12: Model'
- name: 'v12: ModelCategory'
- name: 'v12: Mods'
- name: 'v12: News'
- name: 'v12: NewsCategory'
- name: 'v12: Permit'
- name: 'v12: Poll'
- name: 'v12: PollCategory'
- name: 'v12: PositionAvailable'
- name: 'v12: Post'
- name: 'v12: Project'
- name: 'v12: ProjectCategory'
- name: 'v12: Question'
- name: 'v12: QuestionCategory'
- name: 'v12: RemoteDL'
- name: 'v12: RemoteInstall'
- name: 'v12: Request'
- name: 'v12: RequestCategory'
- name: 'v12: Review'
- name: 'v12: Ripe'
- name: 'v12: Script'
- name: 'v12: ScriptCategory'
- name: 'v12: Sound'
- name: 'v12: SoundCategory'
- name: 'v12: Spray'
- name: 'v12: SprayCategory'
- name: 'v12: StatusUpdate'
- name: 'v12: Studio'
- name: 'v12: Subscription'
- name: 'v12: Support'
- name: 'v12: Thread'
- name: 'v12: Todo'
- name: 'v12: Tool'
- name: 'v12: ToolCategory'
- name: 'v12: Tutorial'
- name: 'v12: TutorialCategory'
- name: 'v12: Update'
- name: 'v12: Util'
- name: 'v12: Ware'
- name: 'v12: WareCategory'
- name: 'v12: WareOrder'
- name: 'v12: Wiki'
- name: 'v12: WikiCategory'
- name: 'v12: Wip'
- name: 'v12: WipCategory'
- name: 'v11: App'
- name: 'v11: Collection'
- name: 'v11: Contest'
- name: 'v11: File'
- name: 'v11: Game'
- name: 'v11: Idea'
- name: 'v11: Jam'
- name: 'v11: Member'
- name: 'v11: Mod'
- name: 'v11: ModCategory'
- name: 'v11: Mods'
- name: 'v11: Poll'
- name: 'v11: Post'
- name: 'v11: RemoteInstall'
- name: 'v11: Request'
- name: 'v11: Ripe'
- name: 'v11: Support'
- name: 'v11: Tool'
- name: 'v11: Util'
- name: 'v11: Wip'
- name: 'v11: {model_name}'
- name: 'v11: {section_slug}'
- name: 'v8: Mod'
- name: 'v8: Util'
- name: 'v7: Mod'
- name: 'v6: Gamefile'
- name: 'v6: Mod'
- name: 'v5: Mod'
- name: 'v4: Mod'
- name: 'v3: Mod'
- name: 'v3: ModCategory'
- name: 'v3: Tool'
paths:
  /apiv12/App/1/ProfilePage:
    get:
      operationId: v12_app_1_profile_page_get
      summary: Fetch profile page payload (App)
      description: 'v12 `App` endpoint `1 / Profile Page`. Purpose: Return the full
        profile-page data model used by GameBanana clients for a single entity. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Probe evidence indicates this route can sometimes return non-JSON
        content; implement content-type checks before parsing. Last verified probe
        content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/App/1/ProfilePage`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/App/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/App/1/ProfilePage`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/App/1/ProfilePage
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
      x-live-verification-status: error
      x-live-verification-note: 'Full verification on 2026-06-01T21:22:07Z returned
        error: HTTP Error 404: Not Found'
  /apiv12/App/Index:
    get:
      operationId: v12_app_index_get
      summary: List primary resources (App)
      description: 'v12 `App` endpoint `Index`. Purpose: Retrieve the default listing
        for this domain, usually used to populate landing pages or initial browse
        views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Last verified probe content-type:
        `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/App/Index`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/App/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response payload observed in live verification.
              example: <!doctype html><html><body>Observed HTML payload.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/Index
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/App/Index
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `json`,
        full live verification on 2026-06-01T21:22:07Z returned `html` (text/html;
        charset=UTF-8).'
  /apiv12/App/ListFilterConfig:
    get:
      operationId: v12_app_list_filter_config_get
      summary: Get list filter configuration (App)
      description: 'v12 `App` endpoint `List Filter Config`. Purpose: Return available
        filter/sort metadata used to construct list and search requests. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Last verified probe content-type: `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/App/ListFilterConfig`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/App/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response payload observed in live verification.
              example: <!doctype html><html><body>Observed HTML payload.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/ListFilterConfig
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/App/ListFilterConfig
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `json`, live verification on 2026-06-01T21:18:58Z returned `html` (text/html;
        charset=UTF-8).'
  /apiv12/App/Search:
    get:
      operationId: v12_app_search_get
      summary: Search resources (App)
      description: 'v12 `App` endpoint `Search`. Purpose: Execute a server-side search
        query for this domain and return matching records. Expected input: No parameters
        are required for a baseline request. Returned data: typically a domain-specific
        JSON object/collection used by GameBanana web clients and integrations. Probe
        evidence indicates this route can sometimes return non-JSON content; implement
        content-type checks before parsing. Last verified probe content-type: `text/html;
        charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/App/Search`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/App/Search
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: search-example-1
                  - id: 2
                    name: search-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/App/Search`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Search` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/App/Search
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/App/{submission_id}/Users:
    get:
      operationId: v12_app_submission_id_users_get
      summary: List related users (App)
      description: 'v12 `App` endpoint `{submission Id} / Users`. Purpose: Return
        users associated with the target entity, such as contributors, followers,
        or owners. Expected input: Provide required path identifiers and optional
        query filters as documented below. Returned data: typically a domain-specific
        JSON object/collection used by GameBanana web clients and integrations. Last
        verified probe content-type: `application/json; charset=UTF-8`.'
      parameters:
      - in: path
        name: submission_id
        required: true
        schema:
          type: integer
        description: Required path parameter `submission_id`. Numeric identifier for
          the target entity. Use an ID from index/search endpoints or previously resolved
          links.
        example: 1
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/App/{submission_id}/Users`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/App/{submission_id}/Users
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: users-example-1
                  - id: 2
                    name: users-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response payload observed in live verification.
              example: <!doctype html><html><body>Observed HTML payload.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: App'
      x-last-test:
        timestamp: '2026-06-01T20:31:47Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/App/1/Users
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Users` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/App/1/Users
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous docs had `json`,
        full live verification on 2026-06-01T21:22:07Z returned `html` (text/html;
        charset=UTF-8).'
  /apiv12/Article/1/ProfilePage:
    get:
      operationId: v12_article_1_profile_page_get
      summary: Fetch profile page payload (Article)
      description: 'v12 `Article` endpoint `1 / Profile Page`. Purpose: Return the
        full profile-page data model used by GameBanana clients for a single entity.
        Expected input: No parameters are required for a baseline request. Returned
        data: typically a domain-specific JSON object/collection used by GameBanana
        web clients and integrations. Last verified probe content-type: `application/json;
        charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Article/1/ProfilePage`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Article/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/1/ProfilePage
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Article/1/ProfilePage
      x-observed-response-format: json
  /apiv12/Article/Index:
    get:
      operationId: v12_article_index_get
      summary: List primary resources (Article)
      description: 'v12 `Article` endpoint `Index`. Purpose: Retrieve the default
        listing for this domain, usually used to populate landing pages or initial
        browse views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Probe evidence indicates this route
        can sometimes return non-JSON content; implement content-type checks before
        parsing. Last verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Article/Index`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Article/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Article/Index`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Article/Index
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/Article/ListFilterConfig:
    get:
      operationId: v12_article_list_filter_config_get
      summary: Get list filter configuration (Article)
      description: 'v12 `Article` endpoint `List Filter Config`. Purpose: Return available
        filter/sort metadata used to construct list and search requests. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Last verified probe content-type: `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Article/ListFilterConfig`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Article/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/ListFilterConfig
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Article/ListFilterConfig
      x-observed-response-format: json
  /apiv12/Article/Search:
    get:
      operationId: v12_article_search_get
      summary: Search resources (Article)
      description: 'v12 `Article` endpoint `Search`. Purpose: Execute a server-side
        search query for this domain and return matching records. Expected input:
        No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Probe evidence indicates this route can sometimes return non-JSON
        content; implement content-type checks before parsing. Last verified probe
        content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Article/Search`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Article/Search
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: search-example-1
                  - id: 2
                    name: search-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Article/Search`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Article'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Article/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Search` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Article/Search
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
      x-live-verification-status: error
      x-live-verification-note: 'Full verification on 2026-06-01T21:22:07Z returned
        error: HTTP Error 404: Not Found'
  /apiv12/ArticleCategory/1/ProfilePage:
    get:
      operationId: v12_articlecategory_1_profile_page_get
      summary: Fetch profile page payload (ArticleCategory)
      description: 'v12 `ArticleCategory` endpoint `1 / Profile Page`. Purpose: Return
        the full profile-page data model used by GameBanana clients for a single entity.
        Expected input: No parameters are required for a baseline request. Returned
        data: typically a domain-specific JSON object/collection used by GameBanana
        web clients and integrations. Probe evidence indicates this route can sometimes
        return non-JSON content; implement content-type checks before parsing. Last
        verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/ArticleCategory/1/ProfilePage`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/ArticleCategory/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/ArticleCategory/1/ProfilePage`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/ArticleCategory/1/ProfilePage
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/ArticleCategory/Index:
    get:
      operationId: v12_articlecategory_index_get
      summary: List primary resources (ArticleCategory)
      description: 'v12 `ArticleCategory` endpoint `Index`. Purpose: Retrieve the
        default listing for this domain, usually used to populate landing pages or
        initial browse views. Expected input: No parameters are required for a baseline
        request. Returned data: typically a domain-specific JSON object/collection
        used by GameBanana web clients and integrations. Probe evidence indicates
        this route can sometimes return non-JSON content; implement content-type checks
        before parsing. Last verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/ArticleCategory/Index`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/ArticleCategory/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/ArticleCategory/Index`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/ArticleCategory/Index
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/ArticleCategory/ListFilterConfig:
    get:
      operationId: v12_articlecategory_list_filter_config_get
      summary: Get list filter configuration (ArticleCategory)
      description: 'v12 `ArticleCategory` endpoint `List Filter Config`. Purpose:
        Return available filter/sort metadata used to construct list and search requests.
        Expected input: No parameters are required for a baseline request. Returned
        data: typically a domain-specific JSON object/collection used by GameBanana
        web clients and integrations. Probe evidence indicates this route can sometimes
        return non-JSON content; implement content-type checks before parsing. Last
        verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/ArticleCategory/ListFilterConfig`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/ArticleCategory/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/ArticleCategory/ListFilterConfig`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/ArticleCategory/ListFilterConfig
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/ArticleCategory/Search:
    get:
      operationId: v12_articlecategory_search_get
      summary: Search resources (ArticleCategory)
      description: 'v12 `ArticleCategory` endpoint `Search`. Purpose: Execute a server-side
        search query for this domain and return matching records. Expected input:
        No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Probe evidence indicates this route can sometimes return non-JSON
        content; implement content-type checks before parsing. Last verified probe
        content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/ArticleCategory/Search`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/ArticleCategory/Search
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: search-example-1
                  - id: 2
                    name: search-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/ArticleCategory/Search`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: ArticleCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/ArticleCategory/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Search` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/ArticleCategory/Search
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
      x-live-verification-status: error
      x-live-verification-note: 'Full verification on 2026-06-01T21:22:07Z returned
        error: HTTP Error 404: Not Found'
  /apiv12/Bitpit/1/ProfilePage:
    get:
      operationId: v12_bitpit_1_profile_page_get
      summary: Fetch profile page payload (Bitpit)
      description: 'v12 `Bitpit` endpoint `1 / Profile Page`. Purpose: Return the
        full profile-page data model used by GameBanana clients for a single entity.
        Expected input: No parameters are required for a baseline request. Returned
        data: typically a domain-specific JSON object/collection used by GameBanana
        web clients and integrations. Last verified probe content-type: `application/json;
        charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Bitpit/1/ProfilePage`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Bitpit/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Bitpit'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bitpit/1/ProfilePage
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Bitpit/1/ProfilePage
      x-observed-response-format: json
  /apiv12/Bitpit/Index:
    get:
      operationId: v12_bitpit_index_get
      summary: List primary resources (Bitpit)
      description: 'v12 `Bitpit` endpoint `Index`. Purpose: Retrieve the default listing
        for this domain, usually used to populate landing pages or initial browse
        views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Last verified probe content-type:
        `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Bitpit/Index`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Bitpit/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Bitpit'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bitpit/Index
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Bitpit/Index
      x-observed-response-format: json
  /apiv12/Bitpit/ListFilterConfig:
    get:
      operationId: v12_bitpit_list_filter_config_get
      summary: Get list filter configuration (Bitpit)
      description: 'v12 `Bitpit` endpoint `List Filter Config`. Purpose: Return available
        filter/sort metadata used to construct list and search requests. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Last verified probe content-type: `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Bitpit/ListFilterConfig`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Bitpit/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Bitpit'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bitpit/ListFilterConfig
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Bitpit/ListFilterConfig
      x-observed-response-format: json
  /apiv12/Blog/1/ProfilePage:
    get:
      operationId: v12_blog_1_profile_page_get
      summary: Fetch profile page payload (Blog)
      description: 'v12 `Blog` endpoint `1 / Profile Page`. Purpose: Return the full
        profile-page data model used by GameBanana clients for a single entity. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Probe evidence indicates this route can sometimes return non-JSON
        content; implement content-type checks before parsing. Last verified probe
        content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Blog/1/ProfilePage`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Blog/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Blog/1/ProfilePage`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Blog/1/ProfilePage
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/Blog/Index:
    get:
      operationId: v12_blog_index_get
      summary: List primary resources (Blog)
      description: 'v12 `Blog` endpoint `Index`. Purpose: Retrieve the default listing
        for this domain, usually used to populate landing pages or initial browse
        views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Last verified probe content-type:
        `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Blog/Index`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Blog/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/Index
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Blog/Index
      x-observed-response-format: json
  /apiv12/Blog/ListFilterConfig:
    get:
      operationId: v12_blog_list_filter_config_get
      summary: Get list filter configuration (Blog)
      description: 'v12 `Blog` endpoint `List Filter Config`. Purpose: Return available
        filter/sort metadata used to construct list and search requests. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Probe evidence indicates this route can sometimes return non-JSON
        content; implement content-type checks before parsing. Last verified probe
        content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Blog/ListFilterConfig`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Blog/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Blog/ListFilterConfig`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Blog/ListFilterConfig
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/Blog/Search:
    get:
      operationId: v12_blog_search_get
      summary: Search resources (Blog)
      description: 'v12 `Blog` endpoint `Search`. Purpose: Execute a server-side search
        query for this domain and return matching records. Expected input: No parameters
        are required for a baseline request. Returned data: typically a domain-specific
        JSON object/collection used by GameBanana web clients and integrations. Probe
        evidence indicates this route can sometimes return non-JSON content; implement
        content-type checks before parsing. Last verified probe content-type: `text/html;
        charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Blog/Search`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Blog/Search
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: search-example-1
                  - id: 2
                    name: search-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Blog/Search`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Blog'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Blog/Search
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Search` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Blog/Search
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
      x-live-verification-status: error
      x-live-verification-note: 'Full verification on 2026-06-01T21:22:07Z returned
        error: HTTP Error 404: Not Found'
  /apiv12/BlogCategory/1/ProfilePage:
    get:
      operationId: v12_blogcategory_1_profile_page_get
      summary: Fetch profile page payload (BlogCategory)
      description: 'v12 `BlogCategory` endpoint `1 / Profile Page`. Purpose: Return
        the full profile-page data model used by GameBanana clients for a single entity.
        Expected input: No parameters are required for a baseline request. Returned
        data: typically a domain-specific JSON object/collection used by GameBanana
        web clients and integrations. Probe evidence indicates this route can sometimes
        return non-JSON content; implement content-type checks before parsing. Last
        verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/BlogCategory/1/ProfilePage`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/BlogCategory/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/BlogCategory/1/ProfilePage`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: BlogCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/BlogCategory/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/BlogCategory/1/ProfilePage
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/BlogCategory/Index:
    get:
      operationId: v12_blogcategory_index_get
      summary: List primary resources (BlogCategory)
      description: 'v12 `BlogCategory` endpoint `Index`. Purpose: Retrieve the default
        listing for this domain, usually used to populate landing pages or initial
        browse views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Last verified probe content-type:
        `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/BlogCategory/Index`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/BlogCategory/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: BlogCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/BlogCategory/Index
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/BlogCategory/Index
      x-observed-response-format: json
  /apiv12/BlogCategory/ListFilterConfig:
    get:
      operationId: v12_blogcategory_list_filter_config_get
      summary: Get list filter configuration (BlogCategory)
      description: 'v12 `BlogCategory` endpoint `List Filter Config`. Purpose: Return
        available filter/sort metadata used to construct list and search requests.
        Expected input: No parameters are required for a baseline request. Returned
        data: typically a domain-specific JSON object/collection used by GameBanana
        web clients and integrations. Probe evidence indicates this route can sometimes
        return non-JSON content; implement content-type checks before parsing. Last
        verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/BlogCategory/ListFilterConfig`.
                  Field presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/BlogCategory/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/BlogCategory/ListFilterConfig`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: BlogCategory'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/BlogCategory/ListFilterConfig
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/BlogCategory/ListFilterConfig
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/Bug/1/ProfilePage:
    get:
      operationId: v12_bug_1_profile_page_get
      summary: Fetch profile page payload (Bug)
      description: 'v12 `Bug` endpoint `1 / Profile Page`. Purpose: Return the full
        profile-page data model used by GameBanana clients for a single entity. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Probe evidence indicates this route can sometimes return non-JSON
        content; implement content-type checks before parsing. Last verified probe
        content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Bug/1/ProfilePage`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Bug/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Bug/1/ProfilePage`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Bug'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bug/1/ProfilePage
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Bug/1/ProfilePage
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/Bug/Index:
    get:
      operationId: v12_bug_index_get
      summary: List primary resources (Bug)
      description: 'v12 `Bug` endpoint `Index`. Purpose: Retrieve the default listing
        for this domain, usually used to populate landing pages or initial browse
        views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Probe evidence indicates this route
        can sometimes return non-JSON content; implement content-type checks before
        parsing. Last verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Bug/Index`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Bug/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Bug/Index` in
                  probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Bug'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bug/Index
        contentType: text/html; charset=UTF-8
      x-curation-note: 'uncertain: probe content-type is not JSON'
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `Index` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Bug/Index
      x-observed-response-format: mixed
      x-observed-response-note: 'Observed format drift: previous probes suggested
        `html`, live verification on 2026-06-01T21:18:58Z returned `json` (application/json;
        charset=UTF-8).'
  /apiv12/Bug/ListFilterConfig:
    get:
      operationId: v12_bug_list_filter_config_get
      summary: Get list filter configuration (Bug)
      description: 'v12 `Bug` endpoint `List Filter Config`. Purpose: Return available
        filter/sort metadata used to construct list and search requests. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Last verified probe content-type: `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Bug/ListFilterConfig`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Bug/ListFilterConfig
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: listfilterconfig-example-1
                  - id: 2
                    name: listfilterconfig-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Bug'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Bug/ListFilterConfig
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ListFilterConfig` responses to drive list views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Bug/ListFilterConfig
      x-observed-response-format: json
  /apiv12/Club/1/ProfilePage:
    get:
      operationId: v12_club_1_profile_page_get
      summary: Fetch profile page payload (Club)
      description: 'v12 `Club` endpoint `1 / Profile Page`. Purpose: Return the full
        profile-page data model used by GameBanana clients for a single entity. Expected
        input: No parameters are required for a baseline request. Returned data: typically
        a domain-specific JSON object/collection used by GameBanana web clients and
        integrations. Last verified probe content-type: `application/json; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Club/1/ProfilePage`. Field
                  presence can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Club/1/ProfilePage
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  profile:
                    id: 1
                    name: Example
                    summary: Example profile payload
                  stats:
                    views: 123
                    likes: 10
                errors: []
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
            permission limitations, or upstream failures.
      tags:
      - 'v12: Club'
      x-last-test:
        timestamp: '2026-06-01T20:43:35Z'
        status: 200
        result: ok
        url: https://gamebanana.com/apiv12/Club/1/ProfilePage
        contentType: application/json; charset=UTF-8
      x-developer-notes:
      - Implement retry with backoff and request timeouts; host behavior can differ
        between gamebanana.com and api subdomains.
      - Avoid strict schema locking; additive fields may appear without version bumps.
      x-common-use-cases:
      - Use `ProfilePage` responses to drive profile views in client apps.
      - Preload this endpoint during initial page/app hydration when latency matters.
      x-edge-cases:
      - Response shape can change with permissions, moderation state, or hidden/deleted
        entities.
      - Treat empty arrays/objects as valid outcomes, not parser errors.
      x-request-example: GET https://gamebanana.com/apiv12/Club/1/ProfilePage
      x-observed-response-format: json
  /apiv12/Club/Index:
    get:
      operationId: v12_club_index_get
      summary: List primary resources (Club)
      description: 'v12 `Club` endpoint `Index`. Purpose: Retrieve the default listing
        for this domain, usually used to populate landing pages or initial browse
        views. Expected input: No parameters are required for a baseline request.
        Returned data: typically a domain-specific JSON object/collection used by
        GameBanana web clients and integrations. Probe evidence indicates this route
        can sometimes return non-JSON content; implement content-type checks before
        parsing. Last verified probe content-type: `text/html; charset=UTF-8`.'
      responses:
        '200':
          description: Successful response. Payload structure depends on the endpoint
            intent and may include nested objects, arrays, and metadata used by GameBanana
            clients. Probe data observed `text/html` responses on this route; clients
            should branch parsing by content-type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Response schema for `/apiv12/Club/Index`. Field presence
                  can vary by version, resource state, and caller context.
              example:
                _meta:
                  endpoint: /apiv12/Club/Index
                  method: GET
                  status: '200'
                  content_type_hint: application/json
                  note: Example payload based on observed endpoint behavior and naming
                    conventions.
                data:
                  items:
                  - id: 1
                    name: index-example-1
                  - id: 2
                    name: index-example-2
                  pagination:
                    page: 1
                    per_page: 15
                    total: 2
                errors: []
            text/html:
              schema:
                type: string
                description: HTML response body observed for `/apiv12/Club/Index`
                  in probe data.
              example: <!doctype html><html><body>Observed HTML payload from GameBanana
                endpoint.</body></html>
        default:
          description: Fallback response for unexpected server behavior, invalid inputs,
[...]
